<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>회계 관리</title>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
	</script>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/salary/aside"></aside>
    <article>
        <div id="title">
            <h1>퇴직금 내역</h1>
        </div>
        <div align="center" style="background-color: #DEEEF8"><br>
		    <form id="sevPaySearchForm" action="/severancePay/list" method="get">
			     <select class="search-select" id="searchCondition" name="searchCondition" required>
			        	<option value="" disabled selected>분류</option>
			            <option value="retireStatus" th:selected="${searchCondition}=='retireStatus'">지급여부</option>
			            <option value="empName" th:selected="${searchCondition}=='empName'">사원명</option>
			     </select>
			        <input type="hidden" name="currentPage" value="1">
			        <input type="text" class="input-text" id="name" name="searchValue"/>
			        <button type="submit" class="btn-square submit">검색</button><br><br>
		     </form>
		 </div>
		 <br>
            <div id="content" align="right">
                <a th:href="@{/severancePay/regist/}">
            		<button type="submit" class="btn-circle submit">등록</button>
            	</a>
            </div>
            <table class="table-list">
            	<thead>
					<tr>
				        <th>사원명</th>
				        <th>사원번호</th>
				        <th>실지급액</th>
				        <th>지급여부</th>
				        <th>수정 및 삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="severancePay : ${ sevList }">
			            <td th:text="${ severancePay.employee.empName }"></td>
			            <td th:text="${ severancePay.employee.empCode }"></td>
			            <td th:text="${ #numbers.formatInteger(severancePay.retirePay, 0, 'COMMA') }"></td>
			            <td th:text="${ severancePay.retireStatus }"></td>
			            <td>
			            	<a th:href="@{/severancePay/modify/{empCode}/(empCode=${severancePay.employee.empCode})}">
			            		<button type="button" class="btn-square submit">수정</button>
			            	</a>
			            	<a th:href="@{/severancePay/delete/{empCode}/(empCode=${severancePay.employee.empCode})}">
			            		<button type="submit" class="btn-square modify" formaction="/severancePay/delete/{empCode}" formmethod="get">삭제</button>
			            	</a>
			            </td>
					</tr>
				</tbody>
			</table>
			<div th:replace="severancePay/paging.html"></div> 
    </article> 
</section>
</body>
	<script>
		function popup(){
		    window.open("regist","_blank", 'width=800, height=360, top=220, left=650');
		}
	</script>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
/* 		window.opener.location.reload();
 */	</script>	
	<script>
		function confirm(){
			var confirmation = confirm("정말 삭제하시겠습니까?");
			if(confirmation == true){
				alert("삭제되었습니다.");
			}
			else if(confirmation == false){
				return "/severancePay/list";
			}
		}
	</script>
</html>
