
.storage-table td {
    border: 1px solid black;
    padding: 10px;
}

.search-select {
    border: none !important;
}

.storage {
    width: 100%;
}

.btn-square {
    margin-top: 10px !important;
}