<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>부서 목록</title>
</head>
<body>
   <script>
      const successMessage = "[[${registSuccessMessage}]]";
      successMessage && alert(successMessage);
   </script>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/salary/aside"></aside>
    <article>
         <div id="title">
            <!-- /* 컨텐츠 영역에 추가될 제목 */ -->
            <h1>급여 내역</h1>
        </div>
        <div align="center" style="background-color: #DEEEF8"><br>
              <form id="salarySearchForm" action="/salary/list" method="get">
                  <input type="hidden" name="currentPage" value="1">
                 <input type="hidden" value="empName" id="searchCondition" name="searchCondition">
                 <input type="text" class="input-text" id="name" name="searchValue" placeholder="사원명"/>
                 <button type="submit" class="btn-square submit">검색</button><br><br>
              </form>
		    </div>
		    <br>
            <div id="content" align="right">
            <a th:href="@{/salary/regist/}">
            	<button type="submit" class="btn-circle submit">등록</button>
			</a>
            </div>
            <table class="table-list">
            	<thead>
					<tr>
				        <th>지급연도</th>
				        <th>지급월</th>
				        <th>사원명</th>
				        <th>사원번호</th>
				        <th>초과수당</th>
				        <th>실지급액</th>
				        <th>급여삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="salary : ${ salList }">
			            <td th:text="${ salary.salaryYear }"></td>
			            <td th:text="${ salary.salaryMonth }"></td>
			            <td th:text="${ salary.employee.empName }"></td>
			            <td th:text="${ salary.employee.empCode }"></td>
			            <td th:text="${ #numbers.formatInteger(salary.overAllowance, 0, 'COMMA') }"></td>
			            <td th:text="${ #numbers.formatInteger(salary.actualPayment, 0, 'COMMA') }"></td>
			            <td>
			                <a th:href="@{/salary/modify/{salNo}/(salNo=${salary.salNo})}">
			            		<button type="button" class="btn-square submit">수정</button>
			            	</a> 
			            	<a th:href="@{/salary/delete/{salNo}/(salNo=${salary.salNo})}">
			            		<button type="submit" class="btn-square modify">삭제</button>
			            	</a>
			            </td>
			            <input type="hidden" name="salNo" th:value="${salary.salNo}" required/>
					</tr>
				</tbody>
			</table>  
		<div th:replace="salary/paging.html"></div> 
    </article>
</section>
</body>
<!-- 	<script>
		function popup(){
		    window.open("regist","_blank", 'width=800, height=360, top=220, left=650');
		}
	</script> -->
</html>
