<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"><!-- 타임리프 활용하기(네임스키마 문법 추가) -->
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div class="pager-box" align="center">
		<!-- 맨 앞으로 이동 버튼 -->
	    <button  id="startPage">
			<span class="material-symbols-outlined">keyboard_double_arrow_left</span>
		</button>
	    
	    <!-- 이전 페이지 버튼 -->
    	<th:block th:if="${ selectCriteria.pageNo <= 1 }">
			<button disabled>
				<span class="material-symbols-outlined">navigate_before</span>
			</button>
		</th:block>
		<th:block th:if="${ selectCriteria.pageNo > 1 }">
			<button id="prevPage">
				<span class="material-symbols-outlined">navigate_before</span>
			</button>
		</th:block>
		
		<!-- 숫자 버튼 -->
		<div class="pager-number-box">
			<th:block th:with="start = ${selectCriteria.startPage}, last = ${selectCriteria.endPage}">
				<th:block th:each="p : ${#numbers.sequence(start,last)}">
					<th:block th:if="${ selectCriteria.pageNo eq p }">
						<button th:text="${p}" disabled></button>
					</th:block>
					<th:block th:if="${ selectCriteria.pageNo ne p }">
						<button th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
					</th:block>
			    </th:block>
		    </th:block>
	    </div>
	    
	    <!-- 다음 페이지 버튼 -->
		<th:block th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }">
			<button disabled>
				<span class="material-symbols-outlined">navigate_next</span>
			</button>
		</th:block>
		<th:block th:if="${ selectCriteria.pageNo < selectCriteria.maxPage }">
			<button id="nextPage">
				<span class="material-symbols-outlined">navigate_next</span>
			</button>
		</th:block>

		<!-- 마지막 페이지로 이동 버튼 -->
		<button id="maxPage">
			<span class="material-symbols-outlined">keyboard_double_arrow_right</span>
		</button>
	</div>
	
	<script>
		const link = "/salary/list";
		let searchText = "";
		let searchConditionExist = "[[${ selectCriteria.searchCondition }]]";
		let searchValueExist = "[[${ selectCriteria.searchValue }]]";
		
		/* 검색 조건 유무에 따른 경로 처리 */
		if(searchConditionExist) {
			searchText += "&searchCondition=" + searchConditionExist;
		}

		/* 검색 내용 유무에 따른 경로 처리 */
		if(searchValueExist) {
			searchText += "&searchValue=" + searchValueExist;
		}
		
		/* 첫 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("startPage")) {
			const $startPage = document.getElementById("startPage");
			$startPage.onclick = function() {
				location.href = link + "?currentPage=1" + searchText;
			}
		}

		/* 이전 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("prevPage")) {
			const $prevPage = document.getElementById("prevPage");
			$prevPage.onclick = function() {
				location.href = link + "?currentPage=[[${ selectCriteria.pageNo - 1 }]]" + searchText;
			}
		}

		/* 다음 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("nextPage")) {
			const $nextPage = document.getElementById("nextPage");
			$nextPage.onclick = function() {
				location.href = link + "?currentPage=[[${ selectCriteria.pageNo + 1 }]]" + searchText;
			}
		}

		/* 마지막 페이지 버튼 click 이벤트 처리 */
		if(document.getElementById("maxPage")) {
			const $maxPage = document.getElementById("maxPage");
			$maxPage.onclick = function() {
				location.href = link + "?currentPage=[[${ selectCriteria.maxPage }]]" + searchText;
			}
		}

		/* 페이지 번호 버튼 click 이벤트 처리 */
		function pageButtonAction(text) {
			location.href = link + "?currentPage=" + text + searchText;
		}
	</script>
</body>
</html>
