<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
    <style>

</style>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside"></aside>
    <article>
        
        
        <div id="content">
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>발주 현황</h1>
	            <br>
	        </div>
	        <div align="center" style="background-color: #DEEEF8" class="search-option">
	        	<br>
	        	<br>
	        	<form id="clientSearchForm" action="/po/list" method="get" >
	        		<span>
			        	<b>작성일자:</b>
			        	<input type="date" name="date" class="input-date" th:value="${ searchValueMap.date }"/>
	        		</span>
	        		<span  style="margin: 5px;">
			        	<b>담당자명:</b>
			        	<input type="text" name="empName" class="input-text" th:value="${ searchValueMap.empName }"/>
	        		</span>
		        	<br>
		        	<br>
	        		<span  style="margin: 5px;">
			        	<b>품목:</b>
			        	<select class="search-select" name="product">
						  <option value="" selected>----</option>
						  <option th:each="product : ${ product }" th:text="${ product }" th:value="${ product }"></option>
						</select>
	        		</span>
	        		<!-- <span th:text="${ product }"> </span> -->
	        		<span  style="margin: 5px;">
			        	<b>진행상황:</b>
			        	<select class="search-select" name="progress" th:value="${ searchValueMap.progress }">
						  <option value="" selected>----</option>
						  <option value="배송중">배송중</option>
						  <option value="완료">완료</option>
						</select>
	        		</span>
		        	
		        	<br>
		        	<br>
		        	<input type="hidden" name="currentPage" value="1">
		        	<button type="submit" class="btn-square submit" >검색하기</button>
		        	<br> 
		        	<br> 
	        	</form>
	        </div>
	        
	        <br>
	        <br>
	        
	         <div id="title" class="page-number" >
	            <div align="right">
	        		<button type="submit" class="btn-square submit" onclick="registPop()">신규 등록</button><br><br>
	        	</div>  
	        </div>
	        <br>
	        <div id="content">
			<table class="table-list" id="po-table" style="width: 100%; align-content: center;">
			    <thead>
			        <th>발주번호</th>
			        <th>작성일자</th>
			        <th>품목</th>
			        <th>발주단가</th>
			        <th>담당자</th>
			        <th>진행상황</th>
			    </thead>
			    <tbody>
			        <tr th:each ="po : ${ po }">
			            <td th:text="${ po.code }"></td>
			            <td th:text="${ po.date }"></td>
			            <td>
			           	 		<span th:text="${ po.productList[0].product.productName }"/>
			           	 		<span th:if="${ po.productList.size > 1 }">
			           	 		<span th:text="외 + ' ' + ${ po.productList.size - 1} + 개"/>
			           	 		</span>
			            </td>
			            <td th:text="${ po.sumMoney }"></td>
			            <td th:text="${ po.emp.empName }"></td>
			            <td>
			            	<input type="button" th:value="${ po.progress }" class="btn-circle submit" onclick="changeMaintain(this)">
			            </td>
		         			<input type="hidden" id="no" th:value="${ po.code }">
		         			<input type="hidden" id="po" name="po" th:value="${ po }">
			        </tr>
			    </tbody>
			</table>
        </div>
        <br>
        <div th:replace="po/paging.html"></div>
        <br>
    </article>
</section>

<script>

	const trs = document.querySelectorAll('#po-table tbody tr');
	var popup;
	
	for(let i = 0; i < trs.length; i++) {
		
		trs[i].onclick = function() {
			if(!(event.target instanceof HTMLInputElement)) {
				var no = this.querySelector('#no').value;
				var url = "detail?code=" + no
				popup = window.open(url,"detail", 'width=900, height=650, top=220, left=650');
			}
		}
		
		trs[i].onmouseenter = function() {
			this.style.backgroundColor = "#DEEEF8";
			this.style.cursor = "pointer";
		}

		trs[i].onmouseout = function() {
			this.style.backgroundColor = "#FFFFFF";
		}
	}

	/* 신규 등록 창 열기 */
	function registPop(){
		window.open("registPop","_blank", 'width=900, height=650, top=220, left=650');
	}
	
	function changeMaintain(element){

		/*현재 url 주소*/
		var url = window.location.pathname + window.location.search;
		
		console.log(url)
		/* 현재 maintain 값*/
		var nowVal= element.value;
		console.log()
		/* 바꿀 maintain 값*/
		var changeVal= "";
		
		const parentElement = element.parentElement.parentElement;
		var no = parentElement.querySelector('#no').value;
		
		console.log(no)
		console.log("왜 와이")
		/*버튼 눌렀을때 알림 내용 처리*/
		if(nowVal == "배송중"){
			var confirmflag = confirm("진행 상황을 완료로 변경하시겠습니까?") 
		}else {
			var confirmflag = confirm("진행 상황을 배송중으로 변경하시겠습니까?") 
		}
		
		/*확인, 취소 눌렀을때 처리*/
		if(confirmflag){
			/* 확인 눌렀을때 */
			
			if(nowVal == "배송중"){
				changeVal = "완료"
			} else {
				changeVal = "배송중"
			}
			
			
			/*form태그 생성*/
			var form = document.createElement("form");
	         form.setAttribute("charset", "UTF-8");
	         form.setAttribute("method", "Post");  //Post 방식
	         form.setAttribute("action", "/po/modifyMaintain"); //요청 보낼 주소
			
			/*인풋태그 생성*/
			var hiddenFieldForNo = document.createElement("input");
			hiddenFieldForNo.setAttribute("type", "hidden");
			hiddenFieldForNo.setAttribute("name", "no");
			hiddenFieldForNo.setAttribute("value", no);
	        
			/*인풋태그 생성2*/
	        var hiddenFieldforMaintain = document.createElement("input");
	        hiddenFieldforMaintain.setAttribute("type", "hidden");
	        hiddenFieldforMaintain.setAttribute("name", "maintain");
	        hiddenFieldforMaintain.setAttribute("value", changeVal);
	        
	        /* url 값 넘기기 */
	        var hiddenFieldForUrl = document.createElement("input");
	        hiddenFieldForUrl.setAttribute("type", "hidden");
	        hiddenFieldForUrl.setAttribute("name", "url");
	        hiddenFieldForUrl.setAttribute("value", url);
	        
	        /* append input*/
			form.appendChild(hiddenFieldForNo);
	        form.appendChild(hiddenFieldforMaintain);
	        form.appendChild(hiddenFieldForUrl);
	        
	        document.body.appendChild(form);
	        
	        form.submit();
		}
	}
</script>

</body>
</html>
