<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
	<th:block th:include="/common/dependencies"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ASAP</title>
    <style>
    	table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
		.phonInput {
			border: 1px solid var(--color-secondary-hovered);
			border-radius: 5px;
		}
		
		.showInfo {
			    width: 300px;
			    padding: 1px 20px 1px 20px;
			    border-radius: 5px;
			    appearance: none;
			    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
			    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */
			
				text-align: center;
			    background-position-x: 5px;
			    background-size: 15px;
			    background-color: #FFFFFF;
			

		}
		input {
			text-align: center;
		}
		
		.inputIntheTable {
			width: 120px
		}
		
	    footer {
		    width: 100%;
		    height: 70px;
		    
		    display: flex;
		    
		    flex-direction: row;
		    
		    justify-content: space-between;
		     
		    background: #FFFFFF;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		}
		
		footer #bottons {
				position: relative;
				left: 30px;
		
		}
	
		footer #myMenus {
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    gap: 10px;
		
		    padding: 15px 20px;
		}
	
		footer #myMenus .icon-employee-default {
	    	border-radius: 50%;
		}
    </style>
</head>
<body>
<script>
		window.opener.location.reload();
</script>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <article>
        <div id="content">
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>
	            <span class="material-symbols-outlined">shopping_bag</span>
	            발주 수정
	            </h1>
	            <br>
	        </div>
	        <div align="center" style="background-color: #DEEEF8" class="search-option">
	        	<br>
	        	<br>
	        	<b>발주서 작성 일자 :</b>
       			<input type="date" th:value="${po.date}" class="input-date" id="date">

	        	<b>납기 일자 :</b>
       			<input type="date" th:value="${po.dueDate}" class="input-date" id="dueDate">

	        	<b>담당자 :</b>
       			<span th:text="${po.emp.empName}" class="showInfo"></span>

	        	<br>
	        	<br> 
	        	<br> 
	        </div>
	        
		        <br> 
			    <br> 
			    
	        	<button type="button" class="btn-circle modify" onclick="showProduct()">상품 불러오기</button><br>
	         <div id="title" class="page-number" >
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	        </div>
	        <br>
	        <div id="content">
			<table class="table-list" id="po-table" style="width: 100%;">
			    <thead style="background-color: #DEEEF8">
			        <th></th>
			        <th>품목코드</th>
			        <th>품목 명</th>
			        <th>수량</th>
			        <th>단가</th>
			        <th>공급가액</th>
			    </thead>
			    <tbody id="it">
			        <tr th:each="po : ${ po.productList }" id="test">
			            <td> 
			        	<span id="addAndDoNotDisturb">
			        		<span th:if="${ poStat.last }">
			        			<span class="material-symbols-outlined" id="plus" style="cursor: pointer" onclick="plusTrTd(this)">
			        			<!-- 더하기 => 하나 넣어야 함 -->
								add_circle
								</span>
			        		</span>
			        		<span th:unless="${ poStat.last }">
			        			<!-- 빼기 => 하나 지워야함 -->
			        			<span class="material-symbols-outlined" style="cursor: pointer" onclick="deleteTrTd(this)">
								do_not_disturb_on
								</span>
			        		</span>
			        		
			        	</span>
			            </td>
			            <!-- 품목 코드 -->
			            <td>
				            <input type="text" th:value="${ po.product.productCode }" id="productCode" name="productCode" class="inputIntheTable" readonly>
			            </td>

			            <!-- 품목 이름 -->
			            <td>
			            	<input type="hidden" th:value="${ po.product.productName }" id="productName" style="width: 130px" >
			            	<input th:value="${ po.product.productName }" onChange="changeProductName(this)" style="width: 130px" >
			            </td>

			            <!-- 품목 수량 -->
			            <td>
			            	<input th:value="${ po.productCount }" id="productCount" class="inputIntheTable" style="width: 50px">
			            </td>

			            <!-- 품목 입고가 -->
			            <td>
				            <input type="text" th:value="${ po.product.productWaearing }"  id="productW" class="inputIntheTable" readonly>
			            </td>

			            <!-- 품목 출고가 -->
			            <td>
				            <input type="text" th:value="${ po.product.productRelease }"  id="productR" class="inputIntheTable" readonly>
			            </td>
			        </tr>
			    </tbody>
			</table>
			<br>
			<br>
        </div>
    </article>
</section>

<br>
<br>
<br>
	<script>
	let element;
		/* 새로 품목 입력 */
		function changeProductName(inputTag){
		
			var newProductName = inputTag.value 
			
			/* 단가 */
			var productW = inputTag.parentElement.parentElement.querySelector('#productW');
			/* 공급가액 */
			/* var productR = document.getElementById("productR").value; */
			var productR = inputTag.parentElement.parentElement.querySelector('#productR');

			var no = document.getElementById("poCode").value
			
			/* 품목코드 */
			var productCode = inputTag.parentElement.parentElement.querySelector('#productCode');
			
			/* 품목 수량 */
			var productCount = inputTag.parentElement.parentElement.querySelector('#productCount');
			
			// ajax 작성
			$.ajax({
				url : "/po/showModifyProductText",
				data : {
					no: no ,
					newProductName : newProductName
				},
				type :	"post",
				success : function(data){
				 productW.value = data.productW;
				 productR.value = data.productR;
				 productCode.value = data.productCode;
				 productCount.value = 0;
				
				},
				error : function(){
					alert("정확한 품목명을 입력하세요.")
				}
			});
		}
		
		function showProduct(){
			var no = document.getElementById("poCode").value
			location.href = "/po/searchProduct?code=" + no
			
		}
		
		/* 테이블 행 추가 */
		function plusTrTd(plus){
			element = plus
			/* 에이젝스로 행 늘려야 함. */
			var no = document.getElementById("poCode").value
			console.log("추가 되어야함")
			 var dynamicTable = document.getElementById('po-table');
		     var newRow = dynamicTable.insertRow();
		     var cell1 = newRow.insertCell();
		     var cell2 = newRow.insertCell();
		     var cell3 = newRow.insertCell();
		     var cell4 = newRow.insertCell();
		     var cell5 = newRow.insertCell();
		     var cell6 = newRow.insertCell();
		     console.log(no)
		     cell1.innerHTML = "<span><span><span class='material-symbols-outlined' style='cursor: pointer' onclick='plusTrTd(this)'> add_circle </span></span></span>"
		     plus.parentElement.innerHTML = "<span class='material-symbols-outlined' style='cursor: pointer' onclick='deleteTrTd(this)'> do_not_disturb_on </span>";
		     cell2.innerHTML = '<input type="text" id="productCode" name="productCode" class="inputIntheTable" readonly>'
		     cell3.innerHTML = "<input type='hidden' id='productName'><input onChange='changeProductName(this)'>"
		     cell4.innerHTML = '<input th:value="${ po.productCount }" id="productCount" class="inputIntheTable" >'
		     cell5.innerHTML = '<input type="text" id="productW" class="inputIntheTable" readonly>'
		     cell6.innerHTML = '<input type="text" id="productR" class="inputIntheTable" readonly>'
		    
         	
		     
		}
		
		/* 테이블 행 삭제 */
		function deleteTrTd(test){
			element = test
			var tr = element.parentElement.parentElement.parentElement.parentElement
			tr.remove();
			console.log(tr);
		}
		

	</script>

</body>
<footer>
	<div></div> 
	<div id="myMenus">
		
		<form action="/po/modify" method="post" style="text-align: center">
		<input type="hidden" id="poCode" name="poCode" th:value="${po.code}">
		<input type="hidden" id="codeArr" name="codeArr" >
		<input type="hidden" id="countArr" name="countArr">
		<input type="hidden" id="sendDate" name="sendDate">
		<input type="hidden" id="sendDueDate" name="sendDueDate">
		
		<button type="button" class="btn-square submit" id="buttons" onclick="goToBack()">뒤로가기</button> 
		<button type="button" class="btn-square submit" id="buttons" onclick="Modify(this)">수정하기</button><br>
		</form> 
	</div>
	
	<!-- 전송하기 -->
	<script>
		function goToBack(){
			var no = document.getElementById("poCode").value
			location.href = "/po/detail?code=" + no
		}
		
		function Modify(submitTag){
			
			var codeArr = [] 
			var countArr = []
			var no = document.getElementById("poCode").value
			var table = document.getElementById('po-table'), 
		    rows = table.getElementsByTagName('tr'),
		    i, j, cells, productCode
			
		for (i = 0, j = rows.length; i < j; ++i) {
		    cells = rows[i].getElementsByTagName('td'); 
			    if (!cells.length) {
			        continue;
			    }
				    productCode = cells[1].querySelector('#productCode').value;
				    productCount = cells[3].querySelector('#productCount').value;
			    if(productCount == 0){
			    	alert("품목의 정확한 수량을 입력해주세요")
			    	return;
			    }
				    codeArr.push(productCode)
				    countArr.push(productCount)
			}
			
			/*넣어줄 곳 가져오기*/
			var sendProductCode = document.getElementById('codeArr')
			var sendProductCount = document.getElementById('countArr')
			var date = document.getElementById('date')
			var dueDate = document.getElementById('dueDate')
			var sendDate = document.getElementById('sendDate')
			var sendDueDate = document.getElementById('sendDueDate')
			
			/* 넣어줄 값 가져오기 */
			var newDate = document.getElementById('date').value
			var newDueDate = document.getElementById('dueDate').value
			
			/* 값 넣어주기 */
			sendProductCode.value = codeArr
			sendProductCount.value = countArr
			sendDate.value = newDate
			sendDueDate.value = newDueDate
			
			console.log(sendProductCode)
			console.log(sendProductCount)
			console.log(newDate)
			console.log(newDueDate)
			submitTag.parentElement.submit();
			
		}
	</script>
</footer>
</html>