<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
    <style>
    footer {
	    width: 100%;
	    height: 70px;
	    
	    display: flex;
	    
	    flex-direction: row;
	    
	    justify-content: space-between;
	     
	    background: #FFFFFF;
		box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	}
	
	footer #bottons {
			position: relative;
			left: 30px;
	
	}

	footer #myMenus {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    gap: 10px;
	
	    padding: 15px 20px;
	}

	footer #myMenus .icon-employee-default {
    	border-radius: 50%;
	}
	
	#content .table-list tbody tr{
		cursor: pointer;
	}  
	
	

    </style>
</head>

<body>
<section>
    <article>
        <div id="title">
            <h1>상품 검색</h1>
        </div>
        <div id="content">
         <div align="center" style="background-color: #DEEEF8" class="search-option">
	        	<br>
	        	<br>
	        	
	        	<form action="/po/searchProduct" method="get">
 	        	<input type="hidden" th:value="${ poCode }" name="code">
	        	<b>창고명 :</b>
	        	<select class="search-select" name="searchSto">
				  <option value="" selected>----</option>
				   <option th:each="storage : ${ storageName }" th:text="${ storage }" th:value="${ storage }"></option>
				</select>
	        	<b>품목명 :</b>
	        	<select class="search-select" name="searchPro">
				  <option value="" selected>----</option>
				  <option th:each="pro : ${ productList }" th:text="${ pro.productName}" th:value="${ pro.productName }"></option>
				</select>
				<button type="submit" class="btn-square modify" >검색하기</button>
				</form>
				
	        	<br>
	        	<br> 
	        	<br> 
	        </div>
	        	<br>
	        	<br> 
	        	<hr>
	        	<br> 
	        	<form action="/po/modifyProduct" method="post">
	            <table class="table-list" id="search-product-table" style="width: 100%">
			    <thead>
			        <th>상품번호</th>
			        <th>품목</th>
			        <th>출고단가</th>
			        <th>입고단가</th>
			        <th>창고</th>
			    </thead>
		    		<!--  form태그에 전달할 값 -->
	 		    <tbody>			
			        <tr th:each="pro : ${ resultList }" onclick="javascript:HighlightRow(this)"  >
						<td th:text="${ pro.productCode }" ></td>
						<td th:text="${ pro.productName }"></td>
						<td th:text="${ pro.productRelease }"></td>
						<td th:text="${ pro.productWaearing }"></td>
						<td th:text="${ pro.storage.storageName }"></td>
			            <input type="hidden" th:value="${ pro.productCode }" id="sendCode" name="sendCode"> 
			            <input type="hidden" value="" id="productCode" name="productCode"> 
					</tr>
			    </tbody> 
		            <input type="hidden" th:value="${ poCode }" name="poCode" id="poCode">
				</table>
		        </div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
    </article>
</section>
<footer> 

	<div>
	</div>

	<div id="myMenus">
		<button type="button" class="btn-square submit" id="buttons" onclick="goToBack()">뒤로가기</button><br> 
		<button type="submit" class="btn-square submit" id="buttons" onclick="">선택하기</button><br> 
		</form>
	</div>
</footer>
<script>

	/* 뒤로 가기 */
	function goToBack(){
		var no = document.getElementById("poCode").value
		location.href = "/po/modify?code=" + no
	}
	
	/* 색칠 완성 */
	function HighlightRow(obj){

		var tr = document.getElementsByTagName("tr");
		var no = obj.querySelector('#sendCode').value;
		console.log(no);
		document.getElementById("productCode");
		document.getElementById("productCode").value = no;
		console.log(document.getElementById("productCode").value);
		
		for(var i=0; i<tr.length; i++){
			tr[i].style.background = "white";
		}
		obj.style.backgroundColor = "#DEEEF8";

	}

</script>
	<script>
		const Message = "[[${mustChoiceProductMessage}]]";
		Message && alert(Message);
	</script>
</body>
</html>