<div xmlns:th="http://www.thymeleaf.org">
    <div id="employeeInfo" th:include="/common/aside-info"></div>
    <div class="aside-title">
        <hr>
        <span class="text-center text-lg">그룹웨어</span>
        <hr>
    </div>
    <ul id="menus">
        <li class="menu">
            <a href="/groupware/draft" class="menu-name">
                <span class="material-symbols-outlined">assignment_turned_in</span>
                전자결재
            </a>
            <ul>
                <li class="sub-menu"><a href="/groupware/sign">서명 관리</a></li>
                <li class="sub-menu"><a href="/groupware/draftForm">기안서 양식 관리</a></li>
                <li class="sub-menu"><a href="/groupware/draft">기안서 관리</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/groupware/schedule" class="menu-name">
                <span class="material-symbols-outlined">storefront</span>
                일정관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/groupware/schedule">일정 조회</a></li>
                <li class="sub-menu"><a href="/groupware/schedule/write">일정 등록</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/notice/list" class="menu-name">
                <span class="material-symbols-outlined">content_paste_search</span>
                공지사항 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/notice/list">공지사항 조회</a></li>
                <li class="sub-menu"><a href="/notice/regist">공지사항 등록</a></li>
            </ul>
        </li>
    </ul>
</div>