<div id="profile" xmlns:th="http://www.thymeleaf.org">
  <div class="employee-image icon-employee-default size-60"></div>
  <span id="employeeName" class="text-lg text-bld" th:text="${ #authentication.getPrincipal().getEmpName() }"></span>
</div>
<div id="attendance">
  <div id="attendanceInfo">
    <div id="workIn">
      <span>출근시간</span>
      <span class="time">-</span>
    </div>
    <div id="workOut">
      <span>퇴근시간</span>
      <span class="time">-</span>
    </div>
  </div>
  <div id="attendanceButtons">
    <button id="goWorkBtn" class="btn-circle modify">출근하기</button>
    <button id="outWorkBtn" class="btn-circle modify">퇴근하기</button>
  </div>
</div>