<div class="header-wrapper">
    <div id="logoAndMenus">
        <a href="/" class="com-logo"></a>
        <div id="headerMenus">
            <a class="header-menu" href="/groupware">그룹웨어</a>
            <a class="header-menu" href="/department/list">인사</a>
            <a class="header-menu" href="/salary/list">회계</a>
            <a class="header-menu" href="/client/list">영업</a>
            <a class="header-menu" href="/logistic/stock">물류</a>
        </div>
    </div>
    <div id="myMenus">
        <a href="/groupware/draft" class="material-symbols-outlined">assignment_turned_in</a>
        <a class="employee-image icon-employee-default size-30" style="cursor: pointer;" onclick="passwordpopup();"></a>
        <span th:text="${ #authentication.getPrincipal().getEmpName() }"></span>
        <a href="/logout">
            <button class="btn-square submit">로그아웃</button>
        </a>
    </div>
</div>
<!-- 비밀번호 수정 창 -->
<script>
    function passwordpopup(){
        var popupwidth = 400;
        var popupheight = 400;

        var popupX = (document.body.offsetWidth / 2) - (popupwidth / 2);
        var popupY= (window.screen.height / 2) - (popupheight / 2);

        var url = "/employee/password";
        var name = "passpopup";
        window.open(
            url, name , 'status=no, width=' + popupwidth +', height='+ popupheight +', left='+ popupX + ', top='+ popupY);
    }
</script>
