<div id="employeeInfo">
    <div id="profile">
        <div class="employee-image icon-employee-default size-60"></div>
        <span id="employeeName" class="text-lg text-bld">신형만</span>
    </div>
    <div id="attendance">
        <div id="attendanceInfo">
            <div id="workIn">
                <span>출근시간</span>
                <span>09:30</span>
                
                
                
            </div>
            <div id="workOut">
                <span>퇴근시간</span>
                <span>18:30</span>
            </div>
        </div>
        <div id="attendanceButtons">
            <button class="btn-circle modify">출근하기</button>
            <button class="btn-circle modify">퇴근하기</button>
        </div>
    </div>
    <hr>
    <span class="text-center text-lg">회계관리</span>
    <hr>
</div>
<ul id="menus">
    <li class="menu">
        <a href="/accounting/salary" class="menu-name">
            <span class="material-symbols-outlined">shopping_bag</span>
            급여 관리
        </a>
        <ul>
            <li class="sub-menu"><a href="/accounting/salary">급여 조회/등록</a></li>
        </ul>
    </li>
    <li class="menu">
        <a href="/accounting/severancePay" class="menu-name">
            <span class="material-symbols-outlined">storefront</span>
            퇴직금 관리
        </a>
        <ul>
            <li class="sub-menu"><a href="/accounting/severancePay">퇴직금 조회/등록</a></li>
        </ul>
    </li>
   </ul>
