<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/schedule/schedule-detail.css">
    <script src="/js/groupware/schedule/schedule-detail.js"></script>
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>일정 조회</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="schedule-info">
                <div class="schedule-title">
                    <span th:text="${ schedule.getDateTitle() }"></span>
                </div>
                <div class="schedule-author-and-date">
                    <div class="schedule-author">
                        <span th:text="${ schedule.getAuthor().getEmpName() }"></span>
                    </div>
                    <span class="divider"></span>
                    <div class="schedule-date">
                        <span th:text="${ #dates.format(schedule.getDateStart(), 'yyyy-MM-dd HH:mm') }"></span>
                        <span>-</span>
                        <span th:text="${ #dates.format(schedule.getDateEnd(), 'yyyy-MM-dd HH:mm') }"></span>
                    </div>
                </div>
                <div class="schedule-attendee">
                    <th:block th:each="attendee : ${ schedule.getAttendList() }">
                        <span th:text="${ attendee.getEmployee().getEmpName() }"></span>
                    </th:block>
                </div>
            </div>
            <hr>
            <div class="schedule-content mce-content-body">
                <iframe id="schedule-ifr" th:srcdoc="'<link rel=\'stylesheet\' href=\'/js/tinymce/skins/content/default/content.min.css\'>' + ${ schedule.getDateContent() }"></iframe>
            </div>
            <div class="schedule-attached-file">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>파일 이름</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="attachedFile : ${ schedule.getAttachedFileList() }">
                            <tr>
                                <td>
                                    <a th:href="${ attachedFile.getFileLocation() } + '/' + ${ attachedFile.getFileRename() }"
                                       th:download="${ attachedFile.getFileName() }"
                                       th:text="${ attachedFile.getFileName() }"></a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div class="schedule-navigation">
                <button th:if="${ #authorization.expression('hasRole(''SCHEDULE_MANAGE'')') || #strings.equals(authorCode, #authentication.getName()) }"
                        id="deleteBtn" class="btn-square delete">삭제</button>
                <a href="/groupware/schedule">
                    <button class="btn-square modify">목록</button>
                </a>
                <th:block th:if="${ #authorization.expression('hasRole(''SCHEDULE_MANAGE'')') || #strings.equals(authorCode, #authentication.getName()) }">
                <a th:href="${ '/groupware/schedule/' + schedule.getDateNo() + '/modify' }">
                    <button class="btn-square submit">수정</button>
                </a>
                </th:block>
            </div>
        </div>
    </article>
</section>
</body>
</html>