<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/schedule/schedule-modify.css">
    <script src="/js/groupware/schedule/schedule-modify.js"></script>
    <script src="/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>일정 수정</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="schedule-info">
                <div class="schedule-title">
                    <div class="input-wrapper">
                        <label class="input-text-no-search" for="scheduleTitle">제목</label>
                        <input id="scheduleTitle" class="input-text-no-search" type="text" name="title" th:value="${ schedule.getDateTitle() }">
                    </div>
                    <div class="schedule-location">
                        <div class="input-wrapper">
                            <label class="input-text-no-search" for="scheduleLocation">위치</label>
                            <input id="scheduleLocation" class="input-text-no-search" type="text" name="scheduleLocation" th:value="${ schedule.getDateLocation() }">
                        </div>
                    </div>
                </div>
                <div class="schedule-date-and-attendee">
                    <div class="schedule-date">
                        <div class="input-wrapper">
                            <label class="input-date-no-search" for="scheduleStartDate">시작 날짜</label>
                            <input id="scheduleStartDate" class="input-date-no-search" type="datetime-local" name="startDate" th:value="${{ schedule.getDateStart() }}">
                        </div>
                        <span>-</span>
                        <div class="input-wrapper">
                            <label class="input-date-no-search" for="scheduleEndDate">종료 날짜</label>
                            <input id="scheduleEndDate" class="input-date-no-search" type="datetime-local" name="endDate" th:value="${{ schedule.getDateEnd() }}">
                        </div>
                    </div>
                    <div class="schedule-attendee">
                        <div class="input-wrapper">
                            <label class="select-no-search" for="department">부서</label>
                            <select id="department" class="select-no-search">
                                <option value="none">부서</option>
                                <th:block th:each="department : ${ departmentList }">
                                    <option th:value="${ department.getCode() }" th:text="${ department.getName() }"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="input-wrapper">
                            <label class="select-no-search" for="scheduleAttendee">참석자</label>
                            <select id="scheduleAttendee" class="select-no-search">
                                <option value="">이름</option>
                            </select>
                        </div>
                        <button id="addAttendee" class="btn-square modify">추가</button>
                    </div>
                </div>
                <div id="attendeeList">

                </div>
            </div>
            <div class="schedule-content">
                <div id="webEditor" th:utext="${ schedule.getDateContent() }">
                </div>
            </div>
            <div class="schedule-attached-file">
                <table id="alreadyUploadedFiles" class="table-list">
                    <thead>
                    <tr>
                        <th class="filename">파일 이름</th>
                        <th class="check">삭제 여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="attachedFile : ${ schedule.getAttachedFileList() }">
                    <tr>
                        <td style="display: none" id="realPath" th:text="${ attachedFile.getFileRename() }"></td>
                        <td th:text="${ attachedFile.getFileName() }"></td>
                        <td class="check">

                        </td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
                <input type="file" id="files" name="files" multiple>
            </div>
            <div class="schedule-navigation">
                <a href="/groupware/schedule">
                    <button class="btn-square modify">취소</button>
                </a>
                <button id="modifyBtn" class="btn-square submit">수정</button>
            </div>
        </div>
    </article>
</section>
<script>
    let scheduleNo = [[${ schedule.getDateNo }]];
</script>
</body>
</html>