<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/schedule/schedule-inquiry.css">
    <script src="/js/groupware/schedule/schedule-inquiry.js"></script>
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>일정 조회</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="search-option">
                <form method="get">
                    <label for="startDate" style="display: none">시작 날짜</label>
                    <input type="date" id="startDate" class="input-date" name="startDate"
                           th:value="${ selectCriteria.getSearchValueMap() != null ?
                                        selectCriteria.getSearchValueMap().get('startDate') :
                                        ''}">
                    <label for="endDate" style="display: none">종료 날짜</label>
                    <input type="date" id="endDate" class="input-date" name="endDate"
                           th:value="${ selectCriteria.getSearchValueMap() != null ?
                                        selectCriteria.getSearchValueMap().get('endDate') :
                                        ''}">
                    <label for="searchWord" style="display: none">제목</label>
                    <input type="text" id="searchWord" name="searchWord" class="input-text" placeholder="제목"
                           th:value="${ selectCriteria.getSearchValueMap() != null ?
                                        selectCriteria.getSearchValueMap().get('searchWord') :
                                        ''}">
                    <button type="submit" class="btn-square modify">검색</button>
                    <a href="/groupware/schedule/write">
                        <button type="button" class="btn-square submit">일정 추가</button>
                    </a>
                </form>
            </div>
            <div class="navigation">
            </div>
            <div class="result">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="title">제목</th>
                            <th class="date">시작날짜</th>
                            <th class="date">종료날짜</th>
                            <th class="location">장소</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="schedule : ${ scheduleList }">
                            <tr>
                                <td class="no" id="scheduleNo" th:text="${ schedule.getDateNo() }"></td>
                                <td class="title" th:text="${ schedule.getDateTitle() }"></td>
                                <td class="date" th:text="${ #dates.format(schedule.getDateStart(), 'yy.MM.dd - HH:mm') }"></td>
                                <td class="date" th:text="${ #dates.format(schedule.getDateEnd(), 'yy.MM.dd - HH:mm') }"></td>
                                <td class="location" th:text="${ schedule.getDateLocation() }"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div th:include="/common/paging"></div>
        </div>
    </article>
</section>
<script>
    let message = '[[${ message }]]';
</script>
</body>
</html>