<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/draft/draft-detail.css">
    <script src="/js/groupware/draft/draft-detail.js"></script>
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>기안서</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="author-and-approval">
                <table id="authorInfo" class="draft-table">
                    <tr>
                        <th>기안자</th>
                        <td th:text="${ draft.getAuthor().getEmpName() }"></td>
                    </tr>
                    <tr>
                        <th>소속</th>
                        <td>ASAP</td>
                    </tr>
                    <tr>
                        <th>기안일</th>
                        <td th:text="${ draft.getDraftDate() }"></td>
                    </tr>
                    <tr>
                        <th>문서번호</th>
                        <td th:text="${ draft.getDraftNo() }"></td>
                    </tr>
                    <tr>
                        <th>기안상태</th>
                        <td th:text="${ draft.getDraftStatus() }"></td>
                    </tr>
                </table>
                <table id="approvalInfo" class="draft-table">
                    <tr id="jobName">
                        <th rowspan="4">결재</th>
                        <th:block th:each="approvalLine : ${ draft.getApprovalLineList() }">
                            <td th:text="${ approvalLine.getEmployee().getJobGrade().getJobName() }"></td>
                        </th:block>
                    </tr>
                    <tr id="sign">
                        <th:block th:each="approvalLine : ${ draft.getApprovalLineList() }">
                            <th:block th:if="${ #strings.equals(approvalLine.getApprovalStatus(), 'Y') }">
                                <td th:if="${ not #strings.isEmpty(approvalLine.getEmployee().getSignImg()) }"
                                    th:style="'background-image: url(' + ${ approvalLine.getEmployee().getSignImg() } + ')'"></td>
                                <td th:if="${ #strings.isEmpty(approvalLine.getEmployee().getSignImg()) }"></td>
                            </th:block>
                            <th:block th:if="${ #strings.equals(approvalLine.getApprovalStatus(), 'N') }">
                                <td></td>
                            </th:block>
                        </th:block>
                    </tr>
                    <tr id="empName">
                        <th:block th:each="approvalLine : ${ draft.getApprovalLineList() }">
                            <td th:text="${ approvalLine.getEmployee().getEmpName() }"></td>
                        </th:block>
                    </tr>
                    <tr id="date">
                        <th:block th:each="approvalLine : ${ draft.getApprovalLineList() }">
                            <td th:text="${ approvalLine.getApprovalDate() }"></td>
                        </th:block>
                    </tr>
                </table>
            </div>
            <div>
                <table id="titleInfo" class="draft-table">
                    <tr id="draftTitle">
                        <th>제목</th>
                        <td class="draft-title" th:text="${ draft.getDraftTitle() }"></td>
                        <th>구분</th>
                        <td class="draft-type" th:text="${ draft.getDraftType() }"></td>
                    </tr>
                </table>
            </div>
            <div class="draft-content mce-content-body">
                <iframe id="draft-ifr" th:srcdoc="'<link rel=\'stylesheet\' href=\'/js/tinymce/skins/content/default/content.min.css\'>' + ${ draft.getDraftContents() }"></iframe>
            </div>
            <div class="draft-navigation">
                <button id="deleteBtn" class="btn-square delete"
                        th:if="${ #authorization.expression('hasRole(''DRAFT_MANAGE'')')
                         || #strings.equals(draft.getAuthor().getEmpCode(), #authentication.getName()) }">삭제</button>
                <a href="/groupware/draft">
                    <button class="btn-square modify">목록</button>
                </a>
                <button id="editBtn" class="btn-square submit"
                        th:if="${ #authorization.expression('hasRole(''DRAFT_MANAGE'')')
                         || #strings.equals(draft.getAuthor().getEmpCode(), #authentication.getName()) }">수정</button>
                <th:block th:if="${ #strings.equals(draft.getDraftStatus(), '임시저장') }">
                <button id="submitBtn" class="btn-square submit"
                        th:if="${ #strings.equals(draft.getAuthor().getEmpCode(), #authentication.getName()) }">상신</button>
                </th:block>
                <th:block th:if="${ #strings.equals(draft.getDraftStatus(), '진행중') }">
                <button id="rejectBtn" class="btn-square delete"
                        th:if="${ #strings.equals(approveEmployee, #authentication.getName()) }">반려</button>
                <button id="approveBtn" class="btn-square submit"
                        th:if="${ #strings.equals(approveEmployee, #authentication.getName()) }">결재</button>
                </th:block>
            </div>
        </div>
    </article>
</section>
</body>
</html>