<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/draft/draft-insert.css">
    <script src="/js/groupware/draft/draft-insert.js"></script>
    <script src="/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <title>ASAP</title>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>기안서</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="author-and-approval">
                <div>
                    <table id="authorInfo" class="draft-table">
                        <tr>
                            <th>기안자</th>
                            <td th:text="${ #authentication.getPrincipal().getEmpName() }"></td>
                        </tr>
                        <tr>
                            <th>소속</th>
                            <td>ASAP</td>
                        </tr>
                        <tr>
                            <th>기안일</th>
                            <td th:text="${ #dates.format(#dates.createNow(), 'yyyy-MM-dd') }"></td>
                        </tr>
                        <tr>
                            <th>문서번호</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>기안상태</th>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <table id="approvalInfo" class="draft-table">
                    <tr id="jobName">
                        <th rowspan="4">결재</th>
                    </tr>
                    <tr id="sign">
                    </tr>
                    <tr id="empName">
                    </tr>
                    <tr id="date">
                    </tr>
                </table>
            </div>
            <div class="draft-approve-employee">
                <div class="input-wrapper">
                    <label class="select-no-search" for="department">부서</label>
                    <select id="department" class="select-no-search">
                        <option value="none">부서</option>
                        <th:block th:each="department : ${ departmentList }">
                            <option th:value="${ department.getCode() }" th:text="${ department.getName() }"></option>
                        </th:block>
                    </select>
                </div>
                <div class="input-wrapper">
                    <label class="select-no-search" for="draftApproveEmployee">결재자</label>
                    <select id="draftApproveEmployee" class="select-no-search">
                        <option value="">이름</option>
                    </select>
                </div>
                <button id="addApproveEmployee" class="btn-square modify">추가</button>
            </div>
            <div>
                <div id="titleInfo">
                    <div class="draft-title">
                        <label for="draftTitle">제목</label>
                        <input id="draftTitle" type="text">
                    </div>
                    <div class="draft-type">
                        <label for="draftType">구분</label>
                        <div class="autocomplete">
                            <input id="draftType" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="draft-content">
                <div id="webEditor" th:utext="${ draftForm?.getDraftFormContent() }"></div>
            </div>
            <div class="draft-navigation">
                <button id="cancelBtn" class="btn-square delete">취소</button>
                <button id="tempSaveBtn" class="btn-square modify">임시저장</button>
                <button id="requestBtn" class="btn-square submit">기안요청</button>
            </div>
        </div>
    </article>
</section>
</body>
</html>