<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies-popup"/>
    <link rel="stylesheet" href="/css/groupware/draft/load-draft-form-popup.css">
    <script src="/js/groupware/draft/load-draft-form-popup.js"></script>
    <title>ASAP</title>
</head>
<body>
<section>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>기안서 양식 선택</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="search-option">
                <form method="get">
                    <label for="type" style="display: none">구분</label>
                    <select id="type" class="search-select" name="type">
                        <option value="" disabled selected>구분</option>
                    </select>
                    <label for="searchTitle" style="display: none">제목</label>
                    <input type="text" id="searchTitle" name="title" class="input-text" placeholder="제목"
                           th:value="${ selectCriteria.getSearchValueMap().get('title') }">
                    <button type="submit" class="btn-square modify">검색</button>
                    <button id="noDraftBtn" type="button" class="btn-square submit">양식 없이 추가</button>
                </form>
            </div>
            <div class="result">
                <table class="table-list">
                    <thead>
                    <tr>
                        <th class="title">양식 제목</th>
                        <th class="type">구분</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="draftForm : ${ draftFormList }">
                        <tr>
                            <td id="draftFormNo" class="no" style="display: none" th:text="${ draftForm.getDraftFormNo() }"></td>
                            <td class="title" th:text="${ draftForm.getDraftFormTitle() }">양식 제목</td>
                            <td class="type" th:text="${ draftForm.getDraftFormDivision() }">구분</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:include="/common/paging"></div>
        </div>
    </article>
</section>
</body>
</html>