article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-selector {
}

.content-selector .selector-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content-selector .selector-list span {
    font-size: 16px;
    padding: 6px 20px;
    color: var(--color-secondary-hovered);
}

.content-selector .selector-list .selected {
    font-weight: bold;
    color: var(--color-primary-accent);
    border-bottom: 1px solid var(--color-primary-accent);
}

.content-selector .selector-list span:hover {
    font-weight: bold;
    color: var(--color-primary-accent);
    border-bottom: 1px solid var(--color-primary-accent);
    cursor: pointer;
}

.content-selector hr {
    background-color: var(--color-secondary-hovered);
    height: 1px;
    border: 0;
    margin: 0;
}

.search-option {
    background-color: var(--color-primary);
}

.search-option > form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
}

.search-option > form .split {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-option > form .split input {
    flex: 1 1 100px;
    width: auto;
}

.search-option > form .split select {
    flex: 1 1 100px;
    width: auto;
}

.search-option > form > button {
    flex: 0 0 auto;
}

.result .table-list {
    width: 100%;
    table-layout: fixed;
}

.result .table-list th, .result .table-list td {
    padding: 5px 10px;
}

.result .table-list td {
    font-size: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result .table-list td#draftNo {
    display: none;
}

.result .table-list td.title {
    text-align: left;
}

.result .table-list .date {
    width: 100px;
}

.result .table-list .title {

}

.result .table-list .type {
    width: 100px;
}

.result .table-list .author {
    width: 60px;
}

.result .table-list .status {
    width: 100px;
}

.result .table-list tbody tr:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}