article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content hr {
    border: 0;
    border-bottom: 2px dashed var(--color-secondary-hovered);
    width: 100%;
}

#content .author-and-approval {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content .draft-table {
    width: fit-content;
    font-size: 14px;
}

#content .draft-table th {
    width: 50px;
    max-width: 50px;
    color: #1c1c1c;
    background-color: #c4c4c4;
}

#content .draft-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content .draft-table th, #content .draft-table td {
    padding: 5px 15px;
    border: 1px solid var(--color-secondary);
}

#content #authorInfo {
    height: 100%;
}

#content .author-and-approval div {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#content #authorInfo td {
    width: 120px;
    max-width: 120px;
}

#content #approvalInfo th {
    width: 15px;
    max-width: 15px;
    padding: 5px 5px;
}

#content #approvalInfo td {
    text-align: center;
}

#content #approvalInfo #sign td {
    height: 80px;
}

#content #approvalInfo td {
    width: 80px;
    max-width: 80px;
}

#content .draft-approve-employee {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#content .draft-approve-employee button {
    margin-top: 16px;
}

#content #titleInfo {
    display: flex;
    flex-direction: row;
}

#content #titleInfo > div {
    display: flex;
    flex-direction: row;
}

#content #titleInfo > div.draft-title {
    flex: 1 1 auto;
}

#content #titleInfo > div.draft-type {
    flex: 0 0 auto;
}

#content #titleInfo > div label, #content #titleInfo > div input {
    box-shadow:
            1px 0 0 0 #1c1c1c,
            0 1px 0 0 #1c1c1c,
            1px 1px 0 0 #1c1c1c,   /* Just to fix the corner */
            1px 0 0 0 #1c1c1c inset,
            0 1px 0 0 #1c1c1c inset;
    padding: 10px 20px;
    font-size: 14px;
}

#content #titleInfo > div > label {
    flex: 0 0 auto;
    padding: 13px 20px;
    color: #1c1c1c;
    background-color: #c4c4c4;
    font-weight: bold;
}

#content #titleInfo > div.draft-title input {
    flex: 1 1 auto;
}

#content #titleInfo > div.draft-type input {
    flex: 0 0 120px;
}

#content .draft-content {
    min-height: 400px;
}

#content .draft-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}