<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="/css/storage/storage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/storage/aside"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>창고관리</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="input_box">
                <form action="/storage/list" method="get">
                    <input type="hidden" name="currentPage" value="1">
                    <div>
                        <label for="storage-input">창고명</label>
                        <input type="text" id="storage-input" class="input-text" name="storagename" placeholder="창고명을 입력해주세요.">
                        <button type="submit" class="btn-square submit">검색</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table-list" id="storage-table">
            <thead>
                <tr>
                    <th>창고번호</th>
                    <th>창고명</th>
                    <th>연락처</th>
                    <th>담당자</th>
                <tr>
            </thead>
            <tbody>
                <tr th:each="list : ${ storageList }">
                    <td th:text="${ list.storageNo }"></td>
                    <td th:text="${ list.storageName }"></td>
                    <td th:text="${ list.storageManagerPhone }"></td>
                    <td th:text="${ list.employee.empName }"></td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex; gap: 3px;">
            <button type="button" class="btn-square submit" id="excelFileExport">Excel 다운로드</button>
            <button type="button" class="btn-square submit" style="margin-left: auto;" onclick="registpopup()">등록</button>
        </div>
        <div th:include="/common/paging"></div>
    </article>
</section>
<!-- excel 파일 다운로드 (테이블) -->
<script>
    //공통
    function s2ab(s) {
        var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
        var view = new Uint8Array(buf);  //create uint8array as viewer
        for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
        return buf;
    }
    function exportExcel(){
        // step 1. workbook 생성
        var wb = XLSX.utils.book_new();

        // step 2. 시트 만들기
        var newWorksheet = excelHandler.getWorksheet();

        // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.
        XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

        // step 4. 엑셀 파일 만들기
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

        // step 5. 엑셀 파일 내보내기
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
    }
    $(document).ready(function() {
        $("#excelFileExport").click(function(){
            exportExcel();
        });
    });
</script>
<script>
    var excelHandler = {
        getExcelFileName : function(){
            let today = new Date();
            let year = today.getFullYear();
            let month = today.getMonth()+1;
            let date = today.getDate();

            return '' + year + month + date + '_창고현황.xlsx';
        },
        getSheetName : function(){
            return '창고현황';
        },
        getExcelData : function(){
            return document.getElementById('storage-table');
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
    }
</script>
<script>
    /* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
    if (document.querySelectorAll("#storage-table td")) {
        const $tds = document.querySelectorAll("#storage-table td");
        for (let i = 0; i < $tds.length; i++) {

            $tds[i].onmouseenter = function() {
            this.parentNode.style.backgroundColor = "#DEEEF8";
            this.parentNode.style.cursor = "pointer";
            }

            $tds[i].onmouseout = function() {
                this.parentNode.style.backgroundColor = "#FFFFFF";
            }

            $tds[i].onclick = function() {
                const no = this.parentNode.children[0].innerText;
                popup(no);
            }
        }
    }
</script>
<script>
    function registpopup(){
        var popupwidth = 500;
        var popupheight = 500;

        var popupX = (document.body.offsetWidth / 2) - (popupwidth / 2);
        var popupY= (window.screen.height / 2) - (popupheight / 2);

        var url = "/storage/regist";
        var name = "popup";
        window.open(
            url, name , 'status=no, width=' + popupwidth +', height='+ popupheight +', left='+ popupX + ', top='+ popupY);
    }
</script>
<script>
    function popup(no){
        var popupwidth = 850;
        var popupheight = 450;

        var popupX = (document.body.offsetWidth / 2) - (popupwidth / 2);
        var popupY= (window.screen.height / 2) - (popupheight / 2);

        var url = no;
        var name = "popup";
        window.open(
            url, name , 'status=no, width=' + popupwidth +', height='+ popupheight +', left='+ popupX + ', top='+ popupY);
    }
</script>
</body>
</html>