<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/receiving/receiving.css">
    <title>ASAP</title>
</head>
<body>
<section>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>창고 수정</h1>
        </div>
        <div id="content">
            <form name="receivingModifyDelete">
            <table class="receiving-table">
                <tbody>
                    <tr>
                        <td>창고번호</td>
                        <td><input th:name="storageNo" type="number" th:value="${ storageDetail.storageNo }" readonly></td>
                        <td>창고명</td>
                        <td colspan="3" th:text="${ storageDetail.storageName }"></td>
                    </tr>
                    <tr>
                        <td>담당자</td>
                        <td>
                            <select id="selectmember" name="select1" class="search-select" required>
                                <option value="" disabled selected>담당자 선택</option>
                                <option th:each="employee : ${ employeeList }" th:text="${ employee.empName }" th:value="${ employee.empCode }"></option>
                            </select>
                        </td>
                        <td>연락처</td>
                        <td><input id="numbers" name="phone" class="storage" type="text" required></td>
                    </tr>
                </tbody>
            </table>
            <div style="display: flex; justify-content: center; margin-top: 10px;">
                <button type="submit" name="delete" class="btn-square delete" style="margin-right: 2.5px;" formaction="/storage/delete" formmethod="post">삭제</button>
                <button type="submit" name="modify" class="btn-square modify" style="margin-left: 2.5px;" formaction="/storage/modify" formmethod="post">수정</button>
            </div>
            </form>
        </div>
    </article>
</section>
<script>

    const memberSelector = document.querySelector('#content select#selectmember');
    memberSelector.addEventListener('change', () => {
        getPhoneNumbers(memberSelector);
    });

    function getPhoneNumbers(element) {
        const memberName = element.value;

        console.log(memberName);

        $.ajax({
            type: 'post',
            url: '/storage/phone',
            data: {
                memberName: memberName
            },
            success: function (data) {
                updateDepartmentMembersSelector(data);
            },
            error: function (error) {
                console.log('error: ', error);
            }
        });
    }

    function updateDepartmentMembersSelector(data) {
        const selector = document.querySelector('#content input#numbers');

        const da = JSON.stringify(data);

        selector.value = da.replace(/"/g,'');
    }
</script>
</body>
</html>