<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/storage/storageregist.css">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
</head>
<body>
<section>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>창고 등록</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="input_box">
                <form action="/storage/storageregist" method="post">
                    <table class="storage-table" style="border: 1px solid black;">
                        <tr>
                            <td>창고명</td>
                            <td><input name="storagename" class="storage" type="text" required></td>
                        </tr>
                        <tr>
                            <td>담당자명</td>
                            <td>
                                <select id="selectmember" name="select1" class="search-select" required>
                                    <option value="" disabled selected>담당자 선택</option>
                                    <option th:each="employee : ${ employeeList }" th:text="${ employee.empName }" th:value="${ employee.empCode }"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>연락처</td>
                            <td><input id="numbers" name="phone" class="storage" type="text" required></td>
                        </tr>
                    </table>
                    <button type="submit" class="btn-square submit">등록</button>
                </form>
            </div>
        </div>
    </article>
</section>
<script>

    const memberSelector = document.querySelector('#content select#selectmember');
    memberSelector.addEventListener('change', () => {
        getPhoneNumbers(memberSelector);
    });

    function getPhoneNumbers(element) {
        const memberName = element.value;

        console.log(memberName);

        $.ajax({
            type: 'post',
            url: '/storage/phone',
            data: {
                memberName: memberName
            },
            success: function (data) {
                updateDepartmentMembersSelector(data);
            },
            error: function (error) {
                console.log('error: ', error);
            }
        });
    }

    function updateDepartmentMembersSelector(data) {
        const selector = document.querySelector('#content input#numbers');

        const da = JSON.stringify(data);

        selector.value = da.replace(/"/g,'');
    }
</script>
</body>
</html>