<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/common/dependencies"/>
    <title>상품 목록</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>
<body>
<header th:include="/common/header"></header>
<section>
   <aside th:include="/logistic/aside"></aside>
    <article>
    
        <div id="title">
            <h1>상품 현황</h1>
        </div>
                <div align="center" style="background-color: #DEEEF8">
        	<br>
        	<br>
        	<form id="productSearchForm" action="/product/list" method="get" >
        		<span>
		        	<b>상품코드:</b>
		        	<input type="text" class="input-text" name="searchValue1" th:value="${ selectCriteriaforDoubleValue.searchValue1 }"/>
		        	<input type="hidden" name="searchCondition1" value="productCode">
        		</span>
        		<span  style="margin: 5px;">
		        	<b>상품명:</b>
		        	<input type="text" class="input-text" name="searchValue2" th:value="${ selectCriteriaforDoubleValue.searchValue2 }"/>
		        	<input type="hidden" name="searchCondition2" value="productName">
        		</span>
	        	<br>
	        	<br>
	        	<input type="hidden" name="currentPage" value="1">
	        	<button type="submit" class="btn-square submit" >검색하기</button>
	        	<br> 
	        	<br> 
        	</form>
        </div>
            <div id="content" align="right">
            	<button class="btn-circle submit" onclick="location.href='/product/regist'">등록</button><br><br>
            </div>
            <table class="table-list" id="productList-table">
        <tr>
        	<th>상품코드</th>
        	<th>상품명</th>
       		<th>카테고리</th>
        	<th>출고단가</th>
        	<th>입고단가</th>
        	<th>적재창고</th>
        	<th>삭제여부</th>
        </tr>    
            
        <tr th:each="pro : ${ productlist }">
			<td th:text="${ pro.productCode }"></td>
			<td th:text="${ pro.productName }"></td>
			<td th:text="${ pro.category.categoryName }"></td>
			<td th:text="${ pro.productRelease }"></td>
			<td th:text="${ pro.productWaearing }"></td>
			<td th:text="${ pro.storage.storageName }"></td>
			<td th:text="${ pro.productStatus }"></td>
		</tr>
				</tbody>
			</table>
			
			<div th:replace="product/paging.html"></div>
    </article>
</section>

<!--  <script>
		/* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
		if (document.querySelectorAll("#productList-table td")) {
			const $tds = document.querySelectorAll("#productList-table td");
			for (let i = 0; i < $tds.length; i++) {

				$tds[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#DEEEF8";
					this.parentNode.style.cursor = "pointer";
				}

				$tds[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "#FFFFFF";
				}

				$tds[i].onclick = function() {
					const no = this.parentNode.children[0].innerText;
					location.href = './' + no;
				}
			}
		}
</script> -->

<script>
      function popup(no){
          var url = no;
          var name = "popup";
          var option = "width = 1200, height = 700, top = 100, left = 200, location = no"
          window.open(url, name, option);
      }
      /* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
      if (document.querySelectorAll("#productList-table td")) {
         const $tds = document.querySelectorAll("#productList-table td");
         for (let i = 0; i < $tds.length; i++) {

            $tds[i].onmouseenter = function() {
               this.parentNode.style.backgroundColor = "#DEEEF8";
               this.parentNode.style.cursor = "pointer";
            }

            $tds[i].onmouseout = function() {
               this.parentNode.style.backgroundColor = "#FFFFFF";
            }

            $tds[i].onclick = function() {
               const no = this.parentNode.children[0].innerText;
               popup(no);
            }
         }
      }
</script>
<script>
		const successMessage = "[[${registSuccessMessage}]]"; 
		const modifyMessage = "[[${modifySuccessMessage}]]";
		successMessage && alert(successMessage);
		modifyMessage && alert(modifyMessage);
		opener.parent.location.reload();
		opener.parent.location.reload();
		window.close();
</script>
</body>
</body>
</html>