<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/common/dependencies"/>
    <title>상품 상세보기</title>
    <style>
    	table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
		.phonInput {
			border: 1px solid var(--color-secondary-hovered);
			border-radius: 5px;
		}
		
    </style>
</head>
<body>
<script>
		window.opener.location.reload();
</script>
<section>
    <article>
        <div id="title">
            <h1>상품 수정</h1>
        </div>
        
        <form action="/product/modify" method="post">

		<table style="width: 100%; text-align: center;">
			<tr>
		        <th>상품코드</th>
		        <th>
		        	<input type="text" th:value="${ productDetail.productCode }" readonly name="productCode" required>
		        </th>
		        <th>상품명</th>
		        <th>
		        	<input type="text" th:value="${ productDetail.productName }" name="productName" style="width: 300px;" required>
		        </th>
	        </tr>
		
			<tr>
		        <th>출고단가</th>
		        <th>
		        	<input type="number" th:value="${ productDetail.productRelease }" name="productRelease" required>
		        </th>
		        <th>입고단가</th>
		        <th>
		        	<input type="number" th:value="${ productDetail.productWaearing }" name="productWaearing" required>
		        </th>
	        </tr>
	        
	        <tr>
		        <th>카테고리</th>
		        <th>
		        	<select name="categoryCode" class="search-select" required>
 						<option value="" disabled selected  th:each="pro : ${ productDetail }" th:text="${ pro.category.categoryName}"></option>
 						<option th:each="category : ${ categoryList }" th:text="${ category.categoryName }" th:value="${ category.categoryCode }"></option>
					</select>
		        </th>
		        <th>적재창고</th>
		        <th>
	        		<select name="storageNo" class="search-select" required>
 						<option value="" disabled selected  th:each="pro : ${ productDetail }" th:text="${ pro.storage.storageName }"></option>
 						<option th:each="storage : ${ storageList }" th:text="${ storage.storageName }" th:value="${ storage.storageNo }"></option>
					</select>
		        </th>
	        </tr>
	        
	       <!--  <tr>
		        <th>상품 삭제 여부</th>
		        <th>
		        	<input type="text" th:value="${ productDetail.productStatus }" name="productStatus" colspan="3"><br>
		        </th>
	        </tr> -->
	        
   		<tr>
            <th>주문상태</th><!-- 라디오버튼? -->
            <th colspan="3">
	        	<input type="button" id="maintain1" class="btn-YorN" value="Y" onclick="yesClick()">
	        	<input type="button" id="maintain2" class="btn-YorN" value="N" onclick="noClick()">
	        	<input type="hidden" name="productStatus" id="maintain" class="maintain">
	        	<input type="hidden" name="firstMaintain" id="firstMaintain" th:value="${ productDetail.productStatus }">
	        </th>
        <tr>
		
		</table>

		<br>
			<!-- <label>상품코드</label><input type="text" th:value="${ productDetail.productCode }" readonly name="productCode"><br>
			<label>상품명</label><input type="text" th:value="${ productDetail.productName }" name="productName"><br>
			<label>출고단가</label><input type="text" th:value="${ productDetail.productRelease }" name="productRelease"><br>
			<label>입고단가</label><input type="text" th:value="${ productDetail.productWaearing }" name="productWaearing"><br>
			<label>카테고리</label><input type="text" th:value="${ productDetail.categoryCode }" name="categoryCode">
			<label>카테고리</label>
			<select name="categoryCode" class="search-select" required>
 						<option value="" disabled selected  th:each="pro : ${ productDetail }" th:text="${ pro.category.categoryName}"></option>
 						<option th:each="category : ${ categoryList }" th:text="${ category.categoryName }" th:value="${ category.categoryCode }"></option>
				</select><br>
			<label>적재창고</label>
       			<select name="storageNo" class="search-select" required>
 						<option value="" disabled selected  th:each="pro : ${ productDetail }" th:text="${ pro.storage.storageName }"></option>
 						<option th:each="storage : ${ storageList }" th:text="${ storage.storageName }" th:value="${ storage.storageNo }"></option>
				</select><br>
			<label>상품삭제여부</label><input type="text" th:value="${ productDetail.productStatus }" name="productStatus"><br> -->
		
	<button type="submit" class="btn-circle submit">수정하기</button>
	</form>
    </article>
</section>
<script>
/* 초기 색상 선정 */
	var maintain = document.getElementById("firstMaintain");
	var maintainVal = maintain.value
	
	if(maintainVal == "Y"){
		 document.getElementById("maintain1").style.backgroundColor = "#6A6A6A";
		 document.getElementById("maintain1").style.color = "white";
		 $(".maintain").val("Y")
	}else {
		 document.getElementById("maintain2").style.backgroundColor = "#6A6A6A";
		 document.getElementById("maintain2").style.color = "white";
		 $(".maintain").val("N")
	}
</script>
<script>
function yesClick(){
	 document.getElementById("maintain1").style.backgroundColor = "#6A6A6A";
	 document.getElementById("maintain1").style.color = "white";
	 document.getElementById("maintain2").style.backgroundColor = "white";
	 document.getElementById("maintain2").style.color = "var(--color-secondary)";
	 $(".maintain").val("Y")
}
function noClick(){
	 document.getElementById("maintain2").style.backgroundColor = "#6A6A6A";
	 document.getElementById("maintain2").style.color = "white";
	 document.getElementById("maintain1").style.backgroundColor = "white";
	 document.getElementById("maintain1").style.color = "var(--color-secondary)";
	 $(".maintain").val("N")
}
</script>
</body>
</html>
















