<div xmlns:th="http://www.thymeleaf.org">
    <div id="employeeInfo" th:include="/common/aside-info"></div>
    <div class="aside-title">
        <hr>
        <span class="text-center text-lg">물류관리</span>
        <hr>
    </div>
    <ul id="menus">
        <li class="menu">
            <a href="/logistic/stock" class="menu-name">
                <span class="material-symbols-outlined">Inbox</span>
                재고 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/logistic/stock">재고 현황</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/receiving/list" class="menu-name">
                <span class="material-symbols-outlined">Local_Shipping</span>
                입고 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/receiving/list">입고 관리</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/storage/list" class="menu-name">
                <span class="material-symbols-outlined">Warehouse</span>
                창고 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/storage/list">창고 관리</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="/product/list" class="menu-name">
                <span class="material-symbols-outlined">Production_Quantity_Limits</span>
                상품 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/product/list">상품 현황</a></li>
                <li class="sub-menu"><a href="/product/regist">상품 등록</a></li>
            </ul>
        </li>
         <li class="menu">
            <a href="/sell/list" class="menu-name">
                <span class="material-symbols-outlined">Sell</span>
                판매 관리
            </a>
            <ul>
                <li class="sub-menu"><a href="/sell/list">판매 관리</a></li>
                <li class="sub-menu"><a href="/sell/registNopop">판매 등록</a></li>
            </ul>
        </li>
    </ul>
</div>