<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>
<body>
<section>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>재고수불부</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
        </div>
        <table class="table-list" id="inventory-table">
		    <thead>
		    	<tr>
			    	<th>구분</th>
			        <th>일자</th>
			        <th>상품명</th>
			        <th>수량</th>
			        <th>내용</th>
			        <th>거래처명</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<th:block th:each="inven : ${ invenList }">
		    		<th:block th:if="${ inven.receivingHistory != null or inven.sellList != null}">
		    			<tr th:if="${ inven.receivingHistory != null }">
		    				<td>입고</td>
		    				<td th:text="${ inven.receivingHistory.inventoryDate }"></td>
			            	<td th:text="${ inven.product.productName }"></td>
			       			<td th:text="${ inven.receivingHistory.receivingAmount }"></td>
			       			<td th:text="${ inven.receivingHistory.receivingComent }"></td>
			       			<td th:text="${ inven.client.name }"></td>
		    			</tr>
		    			<th:block th:if="${ inven.sellList != null }">
			    			<tr th:each="sell : ${ inven.sellList }">
			    				<td>출고</td>
			    				<td th:text="${ sell.sellDate }"></td>
				            	<td th:text="${ inven.product.productName }"></td>
				       			<td th:text="${ sell.sellAmount }"></td>
				       			<td>내용없음</td>
				       			<td th:text="${ inven.client.name }"></td>
			    			</tr>
			    		</th:block>
		    		</th:block>
		    	</th:block>
		    </tbody>
		</table>
	    <div>
			<button type="button" class="btn-square submit" id="excelFileExport">Excel 다운로드</button>
			<button type="button" class="btn-square submit" onclick="printDiv();">인쇄</button>
		</div>
    </article>
</section>

<!-- excel 파일 다운로드 (테이블) -->
<script>
	//공통
	function s2ab(s) { 
	    var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
	    var view = new Uint8Array(buf);  //create uint8array as viewer
	    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
	    return buf;    
	}
	function exportExcel(){ 
	    // step 1. workbook 생성
	    var wb = XLSX.utils.book_new();
	
	    // step 2. 시트 만들기 
	    var newWorksheet = excelHandler.getWorksheet();
	    
	    // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
	    XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());
	
	    // step 4. 엑셀 파일 만들기 
	    var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
	
	    // step 5. 엑셀 파일 내보내기 
	    saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
	}
	$(document).ready(function() { 
	    $("#excelFileExport").click(function(){
	        exportExcel();
	    });
	});
</script>
<script>
	var excelHandler = {
		getExcelFileName : function(){
			let today = new Date();
			let year = today.getFullYear();
			let month = today.getMonth()+1;
			let date = today.getDate();
			
			return '' + year + month + date + '_재고수불부.xlsx';
		},
        getSheetName : function(){
            return '재고수불부';
        },
        getExcelData : function(){
            return document.getElementById('inventory-table'); 
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
	}
</script>
<script>
    function printDiv() {
    	var style = "<head><link rel='stylesheet' href='/css/common/component.css'></head>";
        var divToPrint = document.getElementById('inventory-table');
        newWin = window.open("");
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        setTimeout(function() {
	        newWin.print();
	        newWin.close();
        }, 100);
   }
</script>
</body>
</html>