<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" href="/css/logistic/stock.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>ASAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/logistic/aside"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>재고현황</h1>
        </div>
        <div id="content">
        	<div class="input_box">
        		<form action="/logistic/stock" method="get">
        			<input type="hidden" name="currentPage" value="1">
        			<select name="select1" class="search-select" required>
  						<option value="" disabled selected>창고명</option>
  						<option th:each="storage : ${ storageList }" th:text="${ storage.storageName }" th:value="${ storage.storageNo }"></option>
					</select>
					<select name="select2" class="search-select" required>
  						<option value="" disabled selected>상품명</option>
  						<option th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
					</select>
					<button type="submit" class="btn-square submit">검색</button>
        		</form>
        	</div>
        </div>
       	<table class="table-list" id="stock-table">
			<thead>
				<tr>
		    		<th>재고번호</th>
		        	<th>상품명</th>
		        	<th>재고량</th>
		        	<th>창고명</th>
		     	</tr>
		    </thead>
		    <tbody>
		        <tr th:each ="list : ${ searchList }">
		            <td th:text="${ list.stockNo }"></td>
		            <td th:text="${ list.product.ProductName }"></td>
		            <td th:text="${ list.stockQuantity }"></td>
		            <td th:text="${ list.storage.StorageName }"></td>
		        </tr>
		   </tbody>
		</table>
		<div>
			<button type="button" class="btn-square submit" id="excelFileExport">Excel 다운로드</button>
			<button type="button" class="btn-square submit" onclick="printDiv();">인쇄</button>
		</div>
		<div class="pager-box">
			<!-- 맨 앞으로 이동 버튼 -->
			<button id="startPage">
				<span class="material-symbols-outlined">keyboard_double_arrow_left</span>
			</button>
			
			<!-- 이전 버튼 -->
			<th:block th:if="${ selectCriteria.pageNo <= 1 }">
				<button disabled>
					<span class="material-symbols-outlined">navigate_before</span>
				</button>
			</th:block>
			<th:block th:if="${ selectCriteria.pageNo > 1 }">
				<button id="prevPage">
					<span class="material-symbols-outlined">navigate_before</span>
				</button>
			</th:block>
			
			<!-- 숫자 버튼 -->
			<div class="pager-number-box">
				<th:block th:with="start = ${selectCriteria.startPage}, last = ${selectCriteria.endPage}">
					<th:block th:each="p : ${#numbers.sequence(start,last)}">
						<th:block th:if="${ selectCriteria.pageNo eq p }">
							<button class="page-number" th:text="${p}" disabled></button>
						</th:block>
						<th:block th:if="${ selectCriteria.pageNo ne p }">
							<button class="page-number" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
						</th:block>
			    	</th:block>
		    	</th:block>
	    	</div>
	    	<!-- 다음 페이지 버튼 -->
			<th:block th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }">
				<button disabled>
					<span class="material-symbols-outlined">navigate_next</span>
				</button>
			</th:block>
			<th:block th:if="${ selectCriteria.pageNo < selectCriteria.maxPage }">
				<button id="nextPage">
					<span class="material-symbols-outlined">navigate_next</span>
				</button>
			</th:block>

			<!-- 마지막 페이지로 이동 버튼 -->
			<button id="maxPage">
				<span class="material-symbols-outlined">keyboard_double_arrow_right</span>
			</button>
		</div>
    </article>
</section>
<!-- excel 파일 다운로드 (테이블) -->
<script>
	//공통
	function s2ab(s) { 
	    var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
	    var view = new Uint8Array(buf);  //create uint8array as viewer
	    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
	    return buf;    
	}
	function exportExcel(){ 
	    // step 1. workbook 생성
	    var wb = XLSX.utils.book_new();
	
	    // step 2. 시트 만들기 
	    var newWorksheet = excelHandler.getWorksheet();
	    
	    // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
	    XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());
	
	    // step 4. 엑셀 파일 만들기 
	    var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
	
	    // step 5. 엑셀 파일 내보내기 
	    saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
	}
	$(document).ready(function() { 
	    $("#excelFileExport").click(function(){
	        exportExcel();
	    });
	});
</script>
<script>
	var excelHandler = {
		getExcelFileName : function(){
			let today = new Date();
			let year = today.getFullYear();
			let month = today.getMonth()+1;
			let date = today.getDate();
			
			return '' + year + month + date + '_재고현황.xlsx';
		},
        getSheetName : function(){
            return '재고현황';
        },
        getExcelData : function(){
            return document.getElementById('stock-table'); 
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
	}
</script>
<script>
    function printDiv() {
    	var style = "<head><link rel='stylesheet' href='/css/common/component.css'></head>";
        var divToPrint = document.getElementById('stock-table');
        newWin = window.open("");
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        setTimeout(function() {
	        newWin.print();
	        newWin.close();
        }, 100);
   }
</script>
<script>
		function popup(no){
			var popupwidth = 900;
			var popupheight = 400;
			
			var popupX = (document.body.offsetWidth / 2) - (popupwidth / 2);
			var popupY= (window.screen.height / 2) - (popupheight / 2);
			
		    var url = no;
		    var name = "popup";
		    window.open(
		    		url, name , 'status=no, width=' + popupwidth +', height='+ popupheight +', left='+ popupX + ', top='+ popupY);
		}
		
		/* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
		if (document.querySelectorAll("#stock-table td")) {
			const $tds = document.querySelectorAll("#stock-table td");
			for (let i = 0; i < $tds.length; i++) {

				$tds[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#DEEEF8";
					this.parentNode.style.cursor = "pointer";
				}

				$tds[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "#FFFFFF";
				}

				$tds[i].onclick = function() {
					const no = this.parentNode.children[0].innerText;
					popup(no);
				}
			}
		}
</script>
<script>
	const link = "/logistic/stock";
	let searchText = "";
	let searchConditionExist = "[[${ selectCriteria.searchCondition }]]";
	let searchValueExist = "[[${ selectCriteria.searchValue }]]";

	/* 검색 조건 유무에 따른 경로 처리 */
	if(searchConditionExist) {
		searchText += "&searchCondition2=" + searchConditionExist;
	}

	/* 검색 내용 유무에 따른 경로 처리 */
	if(searchValueExist) {
		searchText += "&searchValue=" + searchValueExist;
	}

	/* 첫 페이지 버튼 click 이벤트 처리 */
	if(document.getElementById("startPage")) {
		const $startPage = document.getElementById("startPage");
		$startPage.onclick = function() {
			location.href = link + "?currentPage=1" + searchText;
		}
	}

	/* 이전 페이지 버튼 click 이벤트 처리 */
	if(document.getElementById("prevPage")) {
		const $prevPage = document.getElementById("prevPage");
		$prevPage.onclick = function() {
			location.href = link + "?currentPage=[[${ selectCriteria.pageNo - 1 }]]" + searchText;
		}
	}

	/* 다음 페이지 버튼 click 이벤트 처리 */
	if(document.getElementById("nextPage")) {
		const $nextPage = document.getElementById("nextPage");
		$nextPage.onclick = function() {
			location.href = link + "?currentPage=[[${ selectCriteria.pageNo + 1 }]]" + searchText;
		}
	}

	/* 마지막 페이지 버튼 click 이벤트 처리 */
	if(document.getElementById("maxPage")) {
		const $maxPage = document.getElementById("maxPage");
		$maxPage.onclick = function() {
			location.href = link + "?currentPage=[[${ selectCriteria.maxPage }]]" + searchText;
		}
	}

	/* 페이지 번호 버튼 click 이벤트 처리 */
	function pageButtonAction(text) {
		location.href = link + "?currentPage=" + text + searchText;
	}
</script>
</body>
</html>