<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
	<th:block th:include="/common/dependencies"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ASAP</title>
    <style>
    table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
		.phonInput {
			border: 1px solid var(--color-secondary-hovered);
			border-radius: 5px;
		}
		
		.showInfo {
			    width: 300px;
			    padding: 1px 20px 1px 20px;
			    border-radius: 5px;
			    appearance: none;
			    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
			    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */
			
				text-align: center;
			    background-position-x: 5px;
			    background-size: 15px;
			    background-color: #FFFFFF;
			

		}
		input {
			text-align: center;
		}
		
		.inputIntheTable {
			width: 120px
		}
		
	    footer {
		    width: 100%;
		    height: 70px;
		    
		    display: flex;
		    
		    flex-direction: row;
		    
		    justify-content: space-between;
		     
		    background: #FFFFFF;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		}
		
		footer #bottons {
				position: relative;
				left: 30px;
		
		}
	
		footer #myMenus {
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    gap: 10px;
		
		    padding: 15px 20px;
		}
	
		footer #myMenus .icon-employee-default {
	    	border-radius: 50%;
		}
		
    </style>
</head>
<body>
<script>
		window.opener.location.reload();
</script>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <article>
        <div id="content">
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>
	            <span class="material-symbols-outlined">shopping_bag</span>
	            견적서 상세 조회
	            </h1>
	            <br>
	        </div>
	        <div align="center" style="background-color: #DEEEF8" class="search-option">
	        	<br>
	        	<br>
	        	<b>작성일자 :</b>
       			<span th:text="${estimate.date}" class="showInfo"></span>

	        	<b>유효기간 :</b>
       			<span th:text="${estimate.expiryDate}" class="showInfo"></span>

	        	<b>담당자 :</b>
       			<span th:text="${estimate.emp.empName}" class="showInfo"></span>

	        	<b>거래처 명 :</b>
       			<span th:text="${estimate.client}" class="showInfo"></span>

	        	<br>
	        	<br> 
	        	<br> 
	        </div>
		        <br> 
			    <br> 
	        
	        <br>
	        <div id="content">
			<table class="table-list" id="esti-table" style="width: 100%;">
			    <thead style="background-color: #DEEEF8">
			        <th></th>
			        <th>품목코드</th>
			        <th>품목 명</th>
			        <th>수량</th>
			        <th>단가</th>
			        <th>공급가액</th>
			        <th>할인률</th>
			    </thead>
			    <tbody>
			        <tr th:each="estimate : ${ estimate.productList }">
			            <td></td>
			            <td th:text="${ estimate.product.productCode }" id="productCode"></td>
			            <td th:text="${ estimate.product.productName }"></td>
			            <td th:text="${ estimate.productCount }"></td>
			            <td th:text="${ estimate.product.productWaearing }"></td>
			            <td th:text="${ estimate.product.productRelease }"></td>
			            <td th:text="${ estimate.discount }"></td>
			        </tr>
			    </tbody>
			    <tfoot style="background-color: #DEEEF8">
			        <tr>
			            <th colspan="3"></th>
			            <th th:text="${ sumCount }"></th>
			            <th th:text="${ sumMoneyW }"></th>
			            <th th:text="${ sumMoenyR }"></th>
			            <th></th>
			        </tr>
			        <tr style="background-color: #ffffff">
			            <th colspan="3">최종할인가</th>
			            <th colspan="5" th:text="${ discountMoney }"></th>
			        </tr>
			    </tfoot>
			</table>
        </div> 
        
    </article>
</section>

<br>
<br>
<br>

<footer>
	<div></div> 
	<div id="myMenus">
		<input type="hidden" id="code" th:value="${ estimate.code }"> 
		<button type="button" class="btn-circle submit" style="margin-right: 10px" onclick="deletePO()">삭제하기</button> 
		<button type="button" class="btn-circle submit" style="margin-right: 10px" onclick="modify()">수정하기</button><br>
		</div>
</footer>

<script>
	function modify(){
		var no = document.getElementById("code").value
		location.href="/estimate/modify?code=" + no;
	}
	
	function deletePO(){
		
		var deleteConfirm = confirm("견적서를 삭제하시겠습니까?")
		
		if(deleteConfirm){
			
		
		var trs = document.querySelectorAll("#esti-table tbody tr");
		var code = document.querySelector("#code");
		var productCode;
		var productCodeArr = [];
		
		for(var i=0; i < trs.length; i++){
			productCode = document.querySelectorAll("#productCode")[i].innerText
			console.log(productCode);
			productCodeArr.push(productCode)
		}
		
		console.log(productCodeArr)
		console.log(code.value)
		
		$.ajax({
			url : "/estimate/delete",
			data : {
				code : code.value,
				productCodeArr : productCodeArr
			},
			type :	"post",
			success : function(data){
				window.opener.location.reload();
				alert(data)
				window.close();
			},
			error : function(){
				alert("삭제 권한이 없습니다. 인사팀에 문의하세요.")
			}
		});
		}
		
	}
</script>
</body>
</html>