<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/groupware/schedule/schedule-detail.css">
    <script src="/js/groupware/notice/notice-detail.js"></script>
    <title>ASAP</title>
</head>
<body>
<header th:include="/common/header"></header>
<script>
		window.opener.location.reload();
</script>
<!--/* 헤더 */-->
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
        <aside th:include="/common/aside-groupware"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>공지사항 상세 조회</h1>
        </div>
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div class="schedule-info">
                <div class="schedule-title">
                    <span th:text="${ noticeDetail.noticeTitle }"></span>
                </div>
                <div class="schedule-author-and-date">
                    <div class="schedule-author">
                        <span th:text="${ noticeDetail.emp.empName }"></span>
                    </div>
                    <span class="divider"></span>
                    <div class="schedule-date">
                        <span th:text="${ noticeDetail.noticeDate }"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="schedule-content">
                <th:block th:utext="${ noticeDetail.noticeContent }"></th:block>
            </div>
            <div class="schedule-attached-file">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>파일 이름</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="attachedFile : ${ noticeDetail.getAttachedFileList() }">
                            <tr>
                                <td>
                                    <a th:href="${ attachedFile.getFileLocation() } + '/' + ${ attachedFile.getFileRename() }"
                                       th:download="${ attachedFile.getFileName() }"
                                       th:text="${ attachedFile.getFileName() }"></a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div class="schedule-navigation">
                <th:block sec:authorize="hasAnyRole('SCHEDULE_MANAGE')">
                    <button id="deleteBtn" class="btn-square delete">삭제</button>
                </th:block>
                <a href="/notice/list">
                    <button class="btn-square modify">목록</button>
                </a>
                <th:block sec:authorize="hasAnyRole('SCHEDULE_MANAGE')">
                <a th:href="${ noticeDetail.getNoticeNo + '/modify' }">
                    <button class="btn-square submit">수정</button>
                </a>
                </th:block>
            </div>
        </div>
    </article>
</section>
</body>
</html>