/* ==================== */
/* ==== CSS Module ==== */
/* ==================== */
@import url('component.css');

/* ==================== */
/* ======= Font ======= */
/* ==================== */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ==================== */
/* ====== Global ====== */
/* ==================== */
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    background-color: var(--color-primary);
}

.com-logo {
    background-image: url('/assets/logo.png');
    background-size: cover;
    background-position: center;

    width: 121px;
    height: 39px;
}

.icon-mypage {
    background-image: url('/assets/icons/mypage.svg');
    background-size: cover;
    background-position: center;
}

.icon-employee-default {
    background-image: url('/assets/icons/employee-default.jpg');
    background-size: cover;
    background-position: center;
}

.size-20 {
    width: 20px;
    height: 20px;
}

.size-30 {
    width: 30px;
    height: 30px;
}

.size-60 {
    width: 60px;
    height: 60px;
}

.text-center {
    text-align: center;
}

.text-bld {
    font-weight: bold;
}

.text-lg {
    font-size: 24px;
}

/* ===================== */
/* ====== Section ====== */
/* ===================== */
section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* ===================== */
/* ====== Article ====== */
/* ===================== */
article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px;

    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    word-wrap: break-word;
}

article #title h1 {
    margin: 10px 10px;
    font-size: 25px;
}

article p {
    margin-inline-start: 0.7rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}