<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>증명서 발급 목록</title>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>증명서 발급 목록</h1>
	        </div>
	        	<div align="center" style="background-color: #DEEEF8"><br>
			        <form id="employeeSearchForm" action="/employee/certificateList" method="get">
				        <span  style="margin: 5px;">
				        	<b>이름:</b>
				        	<input type="text" class="input-text" name="searchValue"/>
				        	<input type="hidden" name="searchCondition" value="empName">
		        		</span>
			        	<input type="hidden" name="currentPage" value="1">
			        	<button type="submit" class="btn-square submit" >검색</button><br><br>
			        </form>
			    </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	            <div id="content" align="right">
	            	<button type="submit" class="btn-square submit" onclick="location.href='/employee/issue'">발급</button><br><br>
	            </div>
	            <table class="table-list" id="certificate-table">
	            	<thead>
						<tr>
							<th>번호</th>
							<th>사원번호</th>
				            <th>이름</th>
				            <th>증명서종류</th>
				            <th>용도</th>
				            <th>발행일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="certificateList : ${ certificateList }">
							<td th:text="${ certificateList.certificateCode }"></td>
							<td th:text="${ certificateList.empCode }"></td>
							<td th:text="${ certificateList.empName }"></td>
							<td th:text="${ certificateList.certification.certificateType }"></td>
							<td th:text="${ certificateList.purpose }"></td>
							<td th:text="${ certificateList.publishedDate }"></td>
						</tr>
					</tbody>
				</table>
				<div th:replace="employee/certificatePaging.html"></div>
	    </article>
	</section>
	<script>
		/* 게시글 리스트에서 해당 게시글에 마우스를 올릴 때에 대한 스타일 처리 */
		if (document.querySelectorAll("#certificate-table td")) {
			const $tds = document.querySelectorAll("#certificate-table td");
			for (let i = 0; i < $tds.length; i++) {
		
				$tds[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#DEEEF8";
					this.parentNode.style.cursor = "pointer";
				}
		
				$tds[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "#FFFFFF";
				}
		
				$tds[i].onclick = function() {
					const no = this.parentNode.children[0].innerText;
					location.href = 'certificateDetail/' + no;
				}
			}
		}
	</script>
</body>
</html>