<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>퇴사신청자 상세 조회</title>
    <style>
	    table tr th, table tr td {
			border: 1px solid var(--color-secondary-hovered);
			height: 50px;
			align-content: center;
		}
    </style>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>퇴사신청자 상세 조회</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	            <div id="content" align="right">
	            	<button type="submit" class="btn-square delete" onclick="popup()">승인</button><br><br>
	            </div>
	            <table style="width: 100%; text-align:center;">
			    	<tr>
			    		<td rowspan="5">
			    			<div align="center">
			    				<img style="width:150px; height:150px;" th:src="${ employeeDetail.getProfilePath() + '/' + employeeDetail.getProfileRename() }" />
							</div>				    			
			    		</td>
				        <th>이름</th>
				        <td th:text="${ employeeDetail.empName }"/>
				        <th>사번</th>
				        <td th:text="${ employeeDetail.empCode }"/>
						<input id="empCode" type="hidden" th:value="${ employeeDetail.empCode }">
			        </tr>
			    	<tr>
				        <th>Email</th>
				        <td th:text="${ employeeDetail.empEmail }"/>
				        <th>입사일자</th>
				        <td th:text="${ employeeDetail.empJoindate }"/>
			        </tr>
			    	<tr>
				        <th>생년월일</th>
				        <td th:text="${ employeeDetail.empBirth }"/>
				        <th>성별</th>
				        <td th:text="${ employeeDetail.empGender }"/>
			        </tr>
			    	<tr>
				        <th>부서명</th>
				        <td th:text="${ employeeDetail.department.name }"/>
				        <th>직위</th>
				        <td th:text="${ employeeDetail.jobGrade.jobName }"/>
			        </tr>
			        <tr>
			        	<th>전화번호</th>
				        <td th:text="${ employeeDetail.empPhone }"/>
				        <th>주소</th>
				        <td th:text="${ employeeDetail.empAddress }"/>
			        </tr>
				</table><br>
			<div id="content" align="center">
            	<button type="button" class="btn-square submit" onclick="location.href='/employee/leaveList'">목록</button>
            </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </article>
	</section>
	<script>
		function popup(){
			var empCode = document.getElementById("empCode");
			console.log(empCode.value);

			var url = "../modifyLeaveYn?empCode=" + empCode.value;
			console.log(url);

			// var no = this.querySelector('#no').value;
			// 	var url = "detail?no=" + no
			// 	popup =window.open(url,"detail", 'width=800, height=560, top=220, left=650');

		    window.open(url,"_blank", 'width=800, height=360, top=220, left=650');

		}
	</script>		
</body>
</html>