<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>사원 상세 정보 수정</title>
    <style>
	    table tr th, table tr td {
			border: 1px solid var(--color-secondary-hovered);
			height: 50px;
			align-content: center;
		}
		#profileImgArea {
			width: 210px;
		}
		.search-select { 
			width: 150px;
		}
    </style>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>사원 상세 정보 수정</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
	        <form action="/employee/modify" method="post" enctype="multipart/form-data">
		        <div id="content" align="center">
		            <table style="width: 100%; text-align:center;">
				    	<tr>
				    		<td rowspan="6">
				    			<div align="center" onclick="loadImg(this,1)">
				    				<img style="width:150px; height:150px;" id="pictureImg" th:src="${ employee.getProfilePath() + '/' + employee.getProfileRename() }" />
								</div>
								<td style="display: none;"><input type="file" id="profileImg" name="profileImg" onchange="loadImg(this,1)"> 			
				    		</td>
					        <th>이름</th>
					        <th>
					        	<input type="text" name="empName" th:value="${employee.empName}" required>
					        </th>
					        <th>사번</th>
					        <th>
					        	<input type="text" name="empCode" th:value="${employee.empCode}" readonly>
					        </th>
				        </tr>
				    	<tr>
					        <th>Email</th>
					        <th>
					        	<input type="text" name="empEmail" th:value="${employee.empEmail}" required>
					        </th>
					        <th>입사일자</th>
					        <th>
					        	<input type="date" name="empJoindate" th:value="${employee.empJoindate}" required>
					        </th>
				        </tr>
				    	<tr>
					        <th>생년월일</th>
					        <th>
					        	<input type="date" name="empBirth" th:value="${employee.empBirth}" required>
					        </th>
					        <th>성별</th>
					        <th th:switch="${employee.empGender}">
					        	<p th:case="M">
					        		<label>M</label>&nbsp;&nbsp;<input type="radio" name="empGender" th:value="M" checked>&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>F</label>&nbsp;&nbsp;<input type="radio" name="empGender" th:value="F">
					        	</p>
					        	<p th:case="F">
					        		<label>M</label>&nbsp;&nbsp;<input type="radio" name="empGender" th:value="M">&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>F</label>&nbsp;&nbsp;<input type="radio" name="empGender" th:value="F" checked>
					        	</p>
					        </th>
				        </tr>
				    	<tr>
					        <th>부서명</th>
					        <th>
					        	<select name="deptCode" class="search-select" required>
					        		<option value="" disabled selected th:each="employee : ${employee}" th:text="${employee.department.name}"></option>
					        		<option th:each="deptList : ${deptList}" th:text="${deptList.name}" th:value="${deptList.code}"></option>
					        	</select>
					        </th>
					        <th>직위</th>
					        <th>
					        	<select name="jobCode" class="search-select" required>
					        		<option value="" disabled selected th:each="employee : ${employee}" th:text="${employee.jobGrade.jobName}"></option>
					        		<option th:each="jobList : ${jobList}" th:text="${jobList.jobName}" th:value="${jobList.jobCode}"></option>
					        	</select>
					        </th>
				        </tr>
				        <tr>
				        	<th>전화번호</th>
				        	<th>
					        	<input type="text" name="empPhone" id="empPhone" maxlength="11" th:value="${employee.empPhone}" required>
					        </th>
					        <th>퇴직여부</th>
					        <th th:switch="${employee.empLeaveYn}">
					        	<p th:case="Y">
					        		<label>Y</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="Y" checked>&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>N</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="N">&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>A</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="A">
					        	</p>
					        	<p th:case="N">
					        		<label>Y</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="Y">&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>N</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="N" checked>&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>A</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="A">
					        	</p>
					        	<p th:case="A">
					        		<label>Y</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="Y">&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>N</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="N">&nbsp;&nbsp;&nbsp;&nbsp;
					        		<label>A</label>&nbsp;&nbsp;<input type="radio" name="empLeaveYn" th:value="A" checked>
					        	</p>
					        </th>
				        </tr>
				        <tr>
					        <th>주소</th>
					        <th colspan="3">
					        	<input type="text" name="empAddress" th:value="${employee.empAddress}" required>
					        </th>
				        </tr>
					</table><br><br>
					<button type="button" class="btn-circle delete" onclick="history.back()">취소</button>  
					<button type="submit" class="btn-circle modify">수정</button><br><br>
				</div>
			</form>
			<br><br><br><br><br><br><br><br><br><br>
	    </article>
	</section>
	
	<script>
		/* 전화번호 정규 표현식 */
		$("#empPhone").focusout(function (event) {

			var regexp = /^[0-9]+$/;
			phoneCheck = $(this).val();
			if (!regexp.test(phoneCheck)) {
				alert("숫자만 입력해주세요.");
				$(this).val('');
			}
		});
	</script>
	
	<script>
		/* 이미지 미리보기 관련 스크립트 */
		const $pictureModify = document.getElementById("pictureImg");
		
		$pictureModify.onclick = function() { 
			document.getElementById("profileImg").click(); 
		}
		/* 이미지 미리보기 관련 함수(File API 활용하기) */
		function loadImg(value, num) {
			
			/* https://developer.mozilla.org/ko/docs/Web/API/FileReader 참고 (MDN 사이트 참고)*/
			if (value.files && value.files[0]) {			
				const reader = new FileReader();
			
				reader.readAsDataURL(value.files[0]);		
				
				reader.onload = function(e) {				
					document.getElementById("pictureImg").src = e.target.result;
				}
			}
		}
	</script>
</body>
</html>