:root {
    --tile-gap: 10px;
    --items-per-row: 3;
    --tile-default-size: calc((100% / var(--items-per-row)) - (var(--tile-gap) - (var(--tile-gap) / var(--items-per-row))));
    --large-tile-size: calc(var(--tile-default-size) * 2 + var(--tile-gap));
}

article.tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

/* 캘린더 타일 */
div#calendar {
    flex: 1 1 100px;
    /*height: 200px;*/
}

div#fullCalendar {
    width: inherit;
    height: inherit;
}