#content div.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

#content div.sign div.sign-image {
    width: 100px;
    height: 100px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}