<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/common/dependencies"/>
    <title>근태 상세 목록</title>
     <style>
    	table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
		.phonInput {
			border: 1px solid var(--color-secondary-hovered);
			border-radius: 5px;
		}
		
    </style>
</head>
<body>
<script>
		window.opener.location.reload();
</script>
<section>
    <article>
        <div id="title">
            <h1>개인근태 수정</h1>
        </div>
        
        <form action="/attendance/modify" method="post">

		<table style="width: 100%; text-align: center;">
	    	<tr>
		        <th>사원 번호</th>
		        <th>
		        	<input type="text" th:each="att : ${attendanceDetail}" th:value="${ att.emp.empCode }" readonly name="empCode" required>
		        </th>
		        <th>출근 날짜</th>
		        <th>
		        	<input type="date" th:value="${ attendanceDetail.workDate }" name="workDate" required>
		        </th>
	        </tr>
	        
	        <tr>
		        <th>출근 시간</th>
		        <th>
		        	<input type="text" th:value="${ attendanceDetail.goworkTime }" name="goworkTime" required>
		        </th>
		        <th>퇴근 시간</th>
		        <th>
		        	<input type="text" th:value="${ attendanceDetail.outworkTime }" name="outworkTime" required>
		        </th>
	        </tr>
	        
            <tr>
		        <th>업무 시간</th>
		        <th>
		        	<input type="number" th:value="${ attendanceDetail.workTime }" name="workTime" required>
		        </th>
		        <th>초과 시간</th>
		        <th>
		        	<input type="number" th:value="${ attendanceDetail.overtimeAllowance }" name="overtimeAllowance" required>
		        </th>
	        </tr>
	        
		</table>


			<input style="display: none;" type="number" th:value="${ attendanceDetail.attendanceCode }" readonly name="attendanceCode"><br>
			<!-- <label>사원번호</label><input type="text" th:each="att : ${attendanceDetail}" th:value="${ att.emp.empCode }" readonly name="empCode"><br>
			<label>출근날짜</label><input type="date" th:value="${ attendanceDetail.workDate }" name="workDate"><br>
			<label>출근시간</label><input type="text" th:value="${ attendanceDetail.goworkTime }" name="goworkTime"><br>
			<label>퇴근시간</label><input type="text" th:value="${ attendanceDetail.outworkTime }" name="outworkTime"><br>
			<label>업무시간</label><input type="number" th:value="${ attendanceDetail.workTime }" name="workTime"><br>
			<label>초과시간</label><input type="number" th:value="${ attendanceDetail.overtimeAllowance }" name="overtimeAllowance"><br>
		 -->
	<button type="submit" class="btn-circle submit">수정하기</button>
	</form>
    </article>
</section>
	
</body>
</html>