<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <link rel="stylesheet" href="/css/receiving/receiving.css">
    <title>ASAP</title>
</head>
<body>
<section>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>입고 내역 수정</h1>
        </div>
        <div id="content">
            <form name="receivingModifyDelete">
            <table class="receiving-table">
                <tbody>
                    <tr>
                        <td>입고내역번호</td>
                        <td><input th:name="receivingHistoryNo" type="number" th:value="${ receivingDetail.receivingHistoryNo }" readonly></td>
                        <td>상품명</td>
                        <td colspan="3" th:text="${ receivingDetail.productName }"></td>
                    </tr>
                    <tr>
                        <td>수량</td>
                        <td><input th:name="receivingAmount" type="number" min="0" th:value="${ receivingDetail.receivingAmount }"></td>
                        <td>거래처명</td>
                        <td th:text="${ receivingDetail.clientName }"></td>
                        <td>창고명</td>
                        <td th:text="${receivingDetail.storageName}"></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td colspan="5"><input th:name="receivingComment" type="text" style="width:100%;" th:value="${ receivingDetail.receivingComent }"></td>
                    </tr>
                </tbody>
            </table>
            <div style="display: flex; justify-content: center; margin-top: 10px;">
                <button type="submit" name="delete" class="btn-square delete" style="margin-right: 2.5px;" formaction="/receiving/delete" formmethod="post">삭제</button>
                <button type="submit" name="modify" class="btn-square modify" style="margin-left: 2.5px;" formaction="/receiving/modify" formmethod="post">수정</button>
            </div>
            </form>
        </div>
    </article>
</section>
</body>
</html>