<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies-popup"/>
    <title>ASAP</title>
</head>
<body>
<section>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>입고 등록</h1>
        </div>
        <div id="content">
        </div>
        <table class="table-list">
            <thead>
                <tr>
                    <th>상품명</th>
                    <th>입고량</th>
                    <th>입고일자</th>
                    <th>창고명</th>
                    <th>내용</th>
                    <th>거래처명</th>
                </tr>
            </thead>
            <form action="/receiving/registReceiving" method="post">
            <tbody>
                <tr>
                    <td>
                        <select name="select1" class="search-select" required>
                            <option value="" disabled selected>상품명</option>
                            <option th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
                        </select>
                    </td>
                    <td>
                        <input type="number" name="amount" min="0" required>
                    </td>
                    <td>
                        <input type="date" name="receivingDate" required>
                    </td>
                    <td>
                        <select name="select2" class="search-select" required>
                            <option value="" disabled selected>창고명</option>
                            <option th:each="storage : ${ storageList }" th:text="${ storage.storageName }" th:value="${ storage.storageNo }"></option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="comment" required>
                    </td>
                    <td>
                        <select name="select3" class="search-select" required>
                            <option value="" disabled selected>거래처명</option>
                            <option th:each="client : ${ clientList }" th:text="${ client.name }" th:value="${ client.no }"></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex;">
            <button type="submit" class="btn-square submit" style="margin-left: auto">등록</button>
        </div>
        </form>
    </article>
</section>
<script th:inline="javascript">
    const status = [[${message}]]
    if(status == 'success') {
        alert("입고내역 등록에 성공하셨습니다.");
        opener.parent.location='/receiving/list';
        window.close();
    } else if(status == 'fail') {
        alert("입고내역 등록에 실패하셨습니다.");
        opener.parent.location='/receiving/list';
        window.close();
    }
</script>
</body>
</html>