<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>연차 수정</title>
    <style>
	    table tr th, table tr td {
			border: 1px solid var(--color-secondary-hovered);
			height: 50px;
			align-content: center;
		}
    </style>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>연차 수정</h1>
	        </div>
	            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
			<form action="/annual/modify" method="post">
	            <div id="content" align="center">
		            <table style="width: 100%;">
					    	<tr>
						        <th>이름</th>
						        <th>
						        	<input type="text" name="empName" th:value="${annual.employee.empName}" readonly>
						        	<input type="hidden" name="annualCode" th:value="${annual.annualCode}">
						        </th>
						        <th>부서명</th>
						        <th>
						        	<select name="deptCode" class="search-select" required>
						        		<option value="" disabled selected th:each="annual : ${annual}" th:text="${annual.employee.department.name}"></option>
						        		<option th:each="deptList : ${deptList}" th:text="${deptList.name}" th:value="${deptList.code}"></option>
					        		</select>
						        </th>
						    </tr>
						    <tr>
						        <th>휴가시작일</th>
						        <th><input type="date" name="annualStart" th:value="${annual.annualStart}" required></th>
						        <th>휴가종료일</th>
						        <th><input type="date" name="annualEnd" th:value="${annual.annualEnd}" required></th>
						    </tr>
						    <tr>
						        <th>휴가명</th>
						        <th><input type="text" name="annualName" th:value="${annual.annualName}" required></th>
						        <th>휴가사용일수</th>
						        <th><input type="number" name="annualLeaveDat" th:value="${annual.annualLeaveDat}" required></th>
						    </tr>
					</table><br><br>
					<button type="button" class="btn-circle delete" onclick="history.back()">취소</button> 
		           	<button type="submit" class="btn-circle modify">수정</button><br><br>
	            </div>
			</form>
			<br><br><br><br><br><br><br><br><br>
	    </article>
	</section>		
</body>
</html>