<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>연차 보유 현황</title>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>연차 보유 현황</h1>
	        </div>
	        <div align="center" style="background-color: #DEEEF8"><br>
		        <form id="annualSearchForm" action="/annual/ownList" method="get">
			        <select class="search-select" id="searchCondition" name="searchCondition" required>
			        	<option value="" disabled selected>분류</option>
			            <option value="empName" th:selected="${searchCondition}=='name'">이름</option>
			            <option value="deptName" th:selected="${searchCondition}=='deptName'">부서명</option>
			        </select>
			        <input type="hidden" name="currentPage" value="1">
			        <input type="text" class="input-text" id="name" name="searchValue" required/>
			        <button type="submit" class="btn-square submit">검색</button><br><br>
		        </form>
		    </div>
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
             <table class="table-list">
                 <thead>
                 <tr>
                     <th>이름</th>
                     <th>부서명</th>
                     <th>총연차</th>
                     <th>잔여연차</th>
                 </tr>
            </thead>
            <tbody>
                 <tr th:each="ownList : ${ ownList }" >
                     <td th:text="${ ownList.empName }"></td>
                     <td th:text="${ ownList.department.name }"></td>
                     <td th:text="15"></td>
                     <td th:text="${ ownList.annualLeftDay }"></td>
                 </tr>
            </tbody>
         </table>
         <div th:replace="annual/paging.html"></div><br>
	    </article>
	</section>			
</body>
</html>