<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>연차 사용 내역</title>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
	</script>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
	    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
	    <aside th:include="/common/asidehrm"></aside>
	    <article>
	        <div id="title">
	            <!--/* 컨텐츠 영역에 추가될 제목 */-->
	            <h1>연차 사용 내역</h1>
	        </div>
	        
	        <!-- 검색 폼  -->
	        <div align="center" style="background-color: #DEEEF8">
	        	<br><br>
	        	<form id="annualUseSearchForm" action="/annual/useList" method="get" >
	        		<span>
			        	<b>시작일:</b>
			        	<input type="date" class="input-date" name="searchValue1"/>
			        	<input type="hidden" name="searchCondition1" value="annualStart">
	        		</span>
	        		<span  style="margin: 5px;">
			        	<b>이름:</b>
			        	<input type="text" class="input-text" name="searchValue2"/>
			        	<input type="hidden" name="searchCondition2" value="empName">
	        		</span>
		        	<input type="hidden" name="currentPage" value="1">
		        	<button type="submit" class="btn-square submit" >검색하기</button>
		        	<br><br><br>
	        	</form>
	        </div>
	        
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <div id="content" align="right">
            	<button type="submit" class="btn-square submit" onclick="location.href='/annual/regist'">등록</button><br><br>
            </div>
            <table class="table-list">
            	<thead>
					<tr>
			            <th>이름</th>
			            <th>휴가명</th>
			            <th>시작일</th>
			            <th>종료일</th>
			            <th>휴가사용일수</th>
			            <th>잔여일수</th>
			            <th>수정</th>
			            <th>확정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="useList : ${ useList }" >
						<td th:text="${ useList.employee.empName }"></td>
						<td th:text="${ useList.annualName }"></td>
						<td th:text="${ useList.annualStart }"></td>
						<td th:text="${ useList.annualEnd }"></td>
						<td th:text="${ useList.annualLeaveDat }"></td>
						<td th:text="${ useList.employee.annualLeftDay }"></td>
						<td th:if="${ useList.annualYn } == 'N'">
							<a th:href="@{/annual/modify/{annualCode}/(annualCode=${useList.annualCode})}">
               					<button type="button" class="btn-square modify">수정</button> 
           					</a>
           				</td>
           				<td th:if="${ useList.annualYn } == 'Y'">
							<a th:href="@{/annual/modify/{annualCode}/(annualCode=${useList.annualCode})}">
               					<button style="background-color: rgb(161, 161, 161);" disabled type="button" class="btn-square modify">수정</button> 
           					</a>
           				</td>
           				<td th:if="${ useList.annualYn } == 'N'">
							<a th:href="@{/annual/confirm/{annualCode}/(annualCode=${useList.annualCode})}">
               					<button type="button" class="btn-square modify" id="confirm" onclick="confirm()">확정</button> 
           					</a>
           				</td>
           				<td th:if="${ useList.annualYn } == 'Y'">
							<a th:href="@{/annual/confirm/{annualCode}/(annualCode=${useList.annualCode})}">
               					<button style="background-color: rgb(161, 161, 161);" disabled type="button" class="btn-square modify" id="confirm" onclick="confirm()">확정</button> 
           					</a>
           				</td>
					</tr>
				</tbody> 
			</table>
			<div th:replace="annual/usePaging.html"></div><br>
	    </article>
	</section>
	<script>
		function confirm() {
			const target = document.getElementById('confirm');
			console.log(target);
			target.disabled = true;
		};
	</script>		
</body>
</html>