<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <title>Login</title>
</head>
<body>
    <section>
        <div id="loginBox">
            <span id="loginFormTitle">Login</span>
            <form action="/login" method="post" id="loginForm">
                <div id="idAndPasswordBox">
                    <input type="text" name="username" id="username" placeholder="아이디를 입력하세요" th:value="${ id }">
                    <input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요">
                </div>
                <div id="saveIdBox">
                    <div>
                        <input type="checkbox" name="saveId" id="saveId" value="true" th:checked="${ id != null }"><label for="saveId">아이디 저장</label>
                    </div>
                </div>
                <div>
                    <span class="login-failed-message" th:text="${ message }"></span>
                </div>
                <div id="submitBox">
                    <input type="submit" value="LOG IN" class="btn-circle modify">
                </div>
<!--                <div id="findAccountBox">-->
<!--                    <a href="#">아이디 찾기</a>-->
<!--                    <div class="vertical-divider"></div>-->
<!--                    <a href="#">비밀번호 찾기</a>-->
<!--                </div>-->
            </form>
        </div>
    </section>
</body>
</html> 