<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
	<th:block th:include="/common/dependencies"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ASAP</title>
    <style>
    	table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
		
		.phonInput {
			border: 1px solid var(--color-secondary-hovered);
			border-radius: 5px;
		}
		
    </style>
</head>
<body>
	
<script>
		window.opener.location.reload();
</script>
	<section>
	
    <article>
        <div id="title">
            <h1>
	            <span class="material-symbols-outlined">storefront</span>
            	거래처 정보 조회
            </h1>
        </div>
        
        		<div id="content">
	            <table style="width: 100%; text-align:center; ">
				    	<tr>
					        <th>거래처 명</th>
					        <td th:text="${ client.name }"/>
					        
					        <th>주소</th>
					        <td th:text="${ client.address }"/>
				        </tr>
				    	<tr>
					        <th>대표자 명</th>
					        <td th:text="${ client.representativeName }"/>
					        
					        <th>이메일</th>
					        <td th:text="${ client.email }"/>
				        </tr>
				    	<tr>
					        <th>전화번호</th>
					        <td th:text="${ client.phone }"/>
					        <th>핸드폰번호</th>
					        <td th:text="${ client.telephone }"/>
				        </tr>
				    	<tr>
					        <th>사용구분</th>
					        <td th:text="${ client.maintain}" colspan="3"></td>
				        </tr>
				</table>
					<input type="hidden" th:value="${ client.no }">
		            <br>
		   				
	            <div align="center">
	            	<a th:href="@{/client/modify/{no}/(no=${client.no})}">
	            		<button type="submit" class="btn-circle submit">수정하기</button><br>
	            	</a>
				</div>
		        <br>
        	</div>
    </article>
    
</section>



</body>
</html>