<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ASAP</title>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
		window.opener.location.reload();
		window.close();
	</script>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside"></aside>
    <article>
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>거래처 조회</h1>
        </div>
        <div align="center" style="background-color: #DEEEF8">
        	<br>
        	<br>
        	<form id="clientSearchForm" action="/client/list" method="get" >
        		<span>
		        	<b>거래처명:</b>
		        	<input type="text" class="input-text" name="searchValue1" th:value="${ selectCriteriaforDoubleValue.searchValue1 }"/>
		        	<input type="hidden" name="searchCondition1" value="name">
        		</span>
        		<span  style="margin: 5px;">
		        	<b>대표자명:</b>
		        	<input type="text" class="input-text" name="searchValue2" th:value="${ selectCriteriaforDoubleValue.searchValue2 }"/>
		        	<input type="hidden" name="searchCondition2" value="representativeName">
        		</span>
	        	<br>
	        	<br>
	        	<input type="hidden" name="currentPage" value="1">
	        	<button type="submit" class="btn-square submit" >검색하기</button>
	        	<br> 
	        	<br> 
        	</form>
        </div>
        
		
        <br>
        <div id="title" class="page-number">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <div align="right">
        	<button type="submit" class="btn-square submit" onclick="registPop()">신규 등록</button><br>
        	</div>  
        </div>
        
        <div id="content">
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <table class="table-list" id="client-table" style="width: 100%;">
    			<thead>
    				<tr>
			        <th>거래처 명</th>
			        <th>대표명</th>
			        <th>전화번호</th>
			        <th>핸드폰 번호</th>
			        <th>사용구분</th>
			        <th></th>
			        </tr>
			   	</thead>
		    	<tbody> 
		        <tr th:each="client : ${ clientList }">
		            <td th:text="${ client.name }"></td>
		            <td th:text="${ client.representativeName }"></td>
		            <td th:text="${ client.phone }"></td>
		            <td th:text="${ client.telephone }"></td>
		            <td><input type="button" th:value="${ client.maintain }" class="btn-circle submit" onclick="changeMaintain(this)"></td>
		         	<td>
		         	<input type="hidden" id="no" th:value="${ client.no }">
		         	</td>
		         </tr>
		    	</tbody>
			</table>
        </div>
        <div th:replace="client/paging.html"></div>
        <br>
    </article>
</section>

<script>

	/* 입력 창 띄우기 */
	function registPop(){
	    window.open("registPop","_blank", 'width=800, height=560, top=220, left=650');
		}
	
	/* 리스트에서 바로 수정 */
	function changeMaintain(element){

		/*현재 url 주소*/
		var url = window.location.pathname + window.location.search;
			
		/* 현재 maintain 값*/
		var nowVal= element.value;
		/* 바꿀 maintain 값*/
		var changeVal= "";
		
		/*버튼 눌렀을때 알림 내용 처리*/
		if(nowVal == "Y"){
			var confirmflag = confirm("사용 구분을 해지 (NO) 하시겠습니까?") 
		}else {
			var confirmflag = confirm("사용 구분을 설정 (YES) 하시겠습니까?") 
		}
		
		/*확인, 취소 눌렀을때 처리*/
		if(confirmflag){
			/* 확인 눌렀을때 */
			
			if(nowVal == "Y"){
				changeVal = "N"
			} else {
				changeVal = "Y"
			}
			
			
			/* 해당 거래처의 번호를 가져오기 */
			const parentElement = element.parentElement.parentElement;
			var no = parentElement.querySelector('#no').value;
			

			/*form태그 생성*/
			var form = document.createElement("form");
	         form.setAttribute("charset", "UTF-8");
	         form.setAttribute("method", "Post");  //Post 방식
	         form.setAttribute("action", "/client/modifyMaintain"); //요청 보낼 주소
			
			/*인풋태그 생성*/
			var hiddenFieldForNo = document.createElement("input");
			hiddenFieldForNo.setAttribute("type", "hidden");
			hiddenFieldForNo.setAttribute("name", "no");
			hiddenFieldForNo.setAttribute("value", no);
	        
			/*인풋태그 생성2*/
	        var hiddenFieldforMaintain = document.createElement("input");
	        hiddenFieldforMaintain.setAttribute("type", "hidden");
	        hiddenFieldforMaintain.setAttribute("name", "maintain");
	        hiddenFieldforMaintain.setAttribute("value", changeVal);
	        
	        /* url 값 넘기기 */
	        var hiddenFieldForUrl = document.createElement("input");
	        hiddenFieldForUrl.setAttribute("type", "hidden");
	        hiddenFieldForUrl.setAttribute("name", "url");
	        hiddenFieldForUrl.setAttribute("value", url);
	        
	        /* append input*/
			form.appendChild(hiddenFieldForNo);
	        form.appendChild(hiddenFieldforMaintain);
	        form.appendChild(hiddenFieldForUrl);
	        
	        document.body.appendChild(form);
	        
	        form.submit();
		}
	}
</script>

<script>

	const trs = document.querySelectorAll('#client-table tbody tr');
	var popup;
	
	for(let i = 0; i < trs.length; i++) {
		
		trs[i].onclick = function() {
			if(!(event.target instanceof HTMLInputElement)) {
				var no = this.querySelector('#no').value;
				var url = "detail?no=" + no
				popup =window.open(url,"detail", 'width=800, height=560, top=220, left=650');
			}

		}
		
		trs[i].onmouseenter = function() {
			this.style.backgroundColor = "#DEEEF8";
			this.style.cursor = "pointer";
		}

		trs[i].onmouseout = function() {
			this.style.backgroundColor = "#FFFFFF";
		}
	}

</script>

</body>
</html>