<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>주문 내역</title>
    <style>
    	table tr th, table tr td {
    		border: 1px solid var(--color-secondary-hovered);
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    	.btn-YorN {
    		color: var(--color-secondary);
		    font-family: 'IBMPlexSansKR-Regular';
		    border: 1px solid var(--color-secondary-hovered);
		    border-radius: 17px;
		    background-color: white;
		    padding: 3px 15px;
		    cursor: pointer;
		}
		
		.btn-YorN:hover {
			transition: 0.2s;
		    color:white;
		    background-color: #6A6A6A;
		}
    </style>
</head>
<body>
<script>
		window.opener.location.reload();
</script>

<section>
    <article>
			    
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>주문 상세내역</h1>
        </div>
        <!-- <div id="content"> -->
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <form action="/order/modify" method="post">
            <div id="content" align="right">
            <table style="width: 100%; text-align:center; " id="table-list">
					<tr>
	                    <th>주문번호</th>
	                    <td><input type="text" name="orderNumber" readonly th:value="${order.orderNumber}"></td>
	            		<th>주문일자</th>
	            		<td><input type="date" name="orderDate" th:value="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></td>
	            	</tr>
	            	<tr>
			            <th>합계금액</th>
			            <td><input type="number" name="orderPrice" th:value="${ order.orderPrice }"></td>
			            <th>배송번호</th>
			            <td><input type="text" name="orderShippingNumber" th:value="${ order.orderShippingNumber }"></td>
			        </tr>
			        <tr>
			            <th>품목코드</th>
			            <td><input type="text" readonly th:value="${ order.product.productCode }"></td>
			            <th>품목명</th>
			            <td>
			            <select name="productCode" class="search-select" required>
	 						<option value="" disabled selected  th:each="pro : ${ order }" th:text="${ pro.product.productName }"></option>
	 						<option th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
						</select>
						</td>
               		</tr>
               		<tr>
			            <th>주문상태</th><!-- 라디오버튼? -->
			            <th colspan="3">
				        	<input type="button" id="maintain1" class="btn-YorN" value="Y" onclick="yesClick()">
				        	<input type="button" id="maintain2" class="btn-YorN" value="N" onclick="noClick()">
				        	<input type="hidden" name="orderShippingStatus" id="maintain" class="maintain">
				        	<input type="hidden" name="firstMaintain" id="firstMaintain" th:value="${ order.orderShippingStatus  }">
				        </th>
			        <tr>
			            <!-- <td colspan="3"><input type="text" name="orderShippingStatus" th:value="${ order.orderShippingStatus }"></td> -->
						<!-- <td><input type="text" name="orderNumber" readonly th:value="${order.orderNumber}"></td>
						<td><input type="text" name="orderDate" th:value="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></td>
						<td><input type="text" name="orderPrice" th:value="${ order.orderPrice }"></td>
						<td><input type="text" name="orderShippingNumber" th:value="${ order.orderShippingNumber }"></td>
						<td><input type="text" readonly th:value="${ order.product.productCode }"></td>
						<td>
							<select name="productCode" class="search-select" required>
	 						<option value="" disabled selected  th:each="pro : ${ order }" th:text="${ pro.product.productName }"></option>
	 						<option th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
							</select>
						</td>
						<td><input type="text" name="orderShippingStatus" th:value="${ order.orderShippingStatus }"></td> -->
			</table>
            </div>
            <br>
            <div id="content" align="left">
            	<button type="submit" class="btn-square submit">수정하기</button>
            </div>
			</form>
    </article>
</section>
<script>
/* 초기 색상 선정 */
	var maintain = document.getElementById("firstMaintain");
	var maintainVal = maintain.value
	
	if(maintainVal == "Y"){
		 document.getElementById("maintain1").style.backgroundColor = "#6A6A6A";
		 document.getElementById("maintain1").style.color = "white";
		 $(".maintain").val("Y")
	}else {
		 document.getElementById("maintain2").style.backgroundColor = "#6A6A6A";
		 document.getElementById("maintain2").style.color = "white";
		 $(".maintain").val("N")
	}
</script>
<script>
function yesClick(){
	 document.getElementById("maintain1").style.backgroundColor = "#6A6A6A";
	 document.getElementById("maintain1").style.color = "white";
	 document.getElementById("maintain2").style.backgroundColor = "white";
	 document.getElementById("maintain2").style.color = "var(--color-secondary)";
	 $(".maintain").val("Y")
}
function noClick(){
	 document.getElementById("maintain2").style.backgroundColor = "#6A6A6A";
	 document.getElementById("maintain2").style.color = "white";
	 document.getElementById("maintain1").style.backgroundColor = "white";
	 document.getElementById("maintain1").style.color = "var(--color-secondary)";
	 $(".maintain").val("N")
}
</script>
</body>
</html>