<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>주문 내역</title>
</head>
<body>
	
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside"></aside>
    <article>
            <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>주문 조회</h1>
        	</div>
            <!-- 검색폼 -->
            
             <div align="center" style="background-color: #DEEEF8" class="search-option">
                <form action="/order/list" method="get">
                <br>
                <span>
                	<b>주문일자:</b>
                    <label for="startDate" style="display: none">시작 날짜</label>
                    <th:block th:if="${ #maps.size(parameterMap) != 0}">
                    	<input type="date" id="startDate" class="input-date" name="startDate" th:value="${parameterMap.startDate}">
                    </th:block>
                    <th:block th:if="${ #maps.size(parameterMap) == 0}">
                    	<input type="date" id="startDate" class="input-date" name="startDate">
                    </th:block>
                </span>
                    <label for="endDate" style="display: none">종료 날짜</label>
                    <th:block th:if="${ #maps.size(parameterMap) != 0}">
                    	<input type="date" id="endDate" class="input-date" name="endDate" th:value="${parameterMap.endDate}">
                    </th:block>
                    <th:block th:if="${ #maps.size(parameterMap) == 0}">
                    	<input type="date" id="endDate" class="input-date" name="endDate">
                    </th:block>
                    <br>
                    <br>
                    <b>상품명:</b>
                    <label for="searchWord" style="display: none">상품명</label>
                    <th:block th:if="${ #maps.size(parameterMap) != 0}">
                    	<input type="text" id="searchWord" name="searchWord" class="input-text" th:value="${parameterMap.searchWord}">
                    </th:block>
                    <th:block th:if="${ #maps.size(parameterMap) == 0}">
                    	<input type="text" id="searchWord" name="searchWord" class="input-text">
                    </th:block>
                    <br>
                    <br>
                    <button type="submit" class="btn-square submit">검색</button>
                    <br>
                    <br>
                </form>
            </div>
      <!--   <div align="center" style="background-color: #DEEEF8">
        	<form id="orderSearchByOrderDateForm" action="/order/date/list" method="get">
        		<span>
        			<b>날짜별:</b>
		        	<label for="startDate" style="display: none">시작 날짜</label>
                    <input type="date" id="startDate" class="input-date" name="startDate">
                    <label for="endDate" style="display: none">종료 날짜</label>
                    <input type="date" id="endDate" class="input-date" name="endDate">
        		</span>
        	</form>
       		<form id="orderSearchForm" action="/order/list" method="get" >
        		<span style="margin: 5px;">
		        	<b>상품명:</b>
		        	<input type="text" class="input-text" name="searchValue2" th:value="${ selectCriteriaforDoubleValue.searchValue2 }"/>
		        	<input type="hidden" name="searchCondition2" value="productName">
        		</span>
	        	<br>
	        	<br>
	        	<input type="hidden" name="currentPage" value="1"/>
	        	<button type="submit" class="btn-square submit" >검색하기</button>
	        	<br> 
	        	<br> 
        	</form>
        </div> -->
			<div></div>
        <div id="title" class="page-number">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <div id="content" align="right">
            	<button type="submit" class="btn-circle submit" onclick="popup()">등록</button><br><br>
            </div>
        </div>
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <table class="table-list" id="order-table">
            	<thead>
					<tr>
	                   <th>주문번호</th>
	            		<th>일자</th>
			            <th>배송번호</th>
			            <th>상품명</th><!--이거 셀렉박스로 되게 하는게 좋을듯  -->
			            <th>합계금액</th>
			            <th>주문상태</th>
			            <th>주문서 조회</th>
               		</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${ orderList }">
						<td th:text="${ order.orderNumber }"></td>
						<td>
			                <span th:text="${#dates.format(order.orderDate, 'yyyy/MM/dd')}"></span>
			            </td>
						<td th:text="${ order.orderShippingNumber }"></td>
						<td th:text="${ order.product.productName }"></td>
						<td th:text="${ #numbers.formatInteger(order.orderPrice, 0, 'COMMA') }"></td>
						<td th:text="${ order.orderShippingStatus }"></td>
						<td>
						<button type="submit" class="btn-circle modify" th:onclick="|location.href='@{/order/sheet/{orderNumber}(orderNumber=${order.orderNumber})}'|">조회</button><br>
						</td>
					</tr>
				</tbody>
			</table>
        <div th:include="/common/paging"></div>
    </article>
</section>
<script>
		function popup(){
		    window.open("regist","_blank", 'width=800, height=400, top=220, left=650');
		}
</script>
<script>
		if (document.querySelectorAll("#order-table td")) {
			const $tds = document.querySelectorAll("#order-table td");
			for (let i = 0; i < $tds.length; i++) {
		
				$tds[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#DEEEF8";
					this.parentNode.style.cursor = "pointer";
				}
		
				$tds[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "#FFFFFF";
				}
		
				$tds[i].onclick = function() {
					const no = this.parentNode.children[0].innerText;
					var url = no;
					window.open(no, 'detail' , 'width=1000, height=560, top=220, left=650');
				}
			}
		}
</script>
<script>
		const successMessage = "[[${registSuccessMessage}]]"; 
		const modifyMessage = "[[${modifySuccessMessage}]]";
		successMessage && alert(successMessage);
		modifyMessage && alert(modifyMessage);
		opener.parent.location.reload();
		opener.parent.location.reload();
		window.close();
	</script>
</body>
</html>