<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>주문 내역</title>
    <style>
    	table tr th, table tr td {
    		border: 1px solid black;
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    </style>
</head>
<body>
<!--/* 헤더 */-->
<header th:include="/common/header"></header>
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <aside th:include="/common/aside"></aside>
    <article>
      
       <h1 style="text-align: center;">주문서</h1>
                            <table style="width: 70%; margin-left: auto; margin-right: auto;" id="certificate-table"><colgroup><col style="width: 25.2747%;"><col style="width: 74.7253%;"></colgroup>
                            <tbody>
                            <tr><td colspan="4" style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회사정보</td></tr>
					    	<tr>
						        <td>회사명</td>
						        <td th:text="${ companyInfo.companyName }"/>
					        </tr>
					        <tr>
						        <td>주소</td>
						        <td colspan="3" th:text="${ companyInfo.companyAddress }"/>
					        </tr>
					        <tr><td colspan="4" style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주문정보</td></tr>
                            <tr>
                            <td>주문번호</td>
                            <td th:text="${ order.orderNumber }"/>
                            </tr>
                            <tr>
                            <td>주문일자</td>
                            <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"/>
                            </tr>
                            <tr>
                            <td>배송번호</td>
                            <td th:text="${ order.orderShippingNumber }"/>
                            </tr>
                            <tr>
                            <td>합계금액</td>
                            <td th:text="${ order.orderPrice }"/>
                            </tr>
                            <tr>
                            <td>품목번호</td>
                            <td th:text="${ order.product.productCode }"/>
                            </tr>
                            <tr>
                            <td>품목명</td>
                            <td th:text="${ order.product.productName }"/>
                            </tr>
                            <tr>
                            <td style="height: 29.3906px;" colspan="2">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p style="text-align: center;">&nbsp;</p>
                            <p style="text-align: center;" th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"/>
                            <h3 style="text-align: center;">ASAP</h3>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <div id="content" align="center">
            	<button type="button" class="btn-square submit" onclick="location.href='/order/list'">목록</button>
            	<button type="button" class="btn-square submit" onclick="printDiv();">인쇄</button>
            </div>
    </article>
</section>
<script>
    function printDiv() {
    	var style = '<head><link rel="stylesheet" href="/css/certificate/certificateDetail.css"><link rel="stylesheet" href="/css/common/component.css"></head>';
        var divToPrint = document.getElementById('certificate-table');
        newWin = window.open("");
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        setTimeout(function() {
	        newWin.print();
	        newWin.close();
        }, 100);
    }
	</script>	
</body>
</html>