.input_box {
	background-color: #DEEEF8;
	padding: 35px 0px 35px 15px;
	margin-bottom: 20px;
}

label {
	font-size: 13px !important;
}

.receiving-table {
	margin-left:auto;
	margin-right:auto;
}

.receiving-table td{
	border: 1px solid #6a6a6a;
	padding: 10px;
	border-collapse: collapse !important;
}