<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
    <th:block th:include="/common/dependencies"/>
    <title>판매 내역</title>
     <style>
    	table tr th, table tr td {
    		border: 1px solid black;
    		height: 50px;
    		align-content: center;
    		text-align: center;
    	}
    	
    </style>
</head>
<body>
<script>
		window.opener.location.reload();
</script>
<!--/* 헤더 */-->
<section>
    <!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
    <article>
			   
        <div id="title">
            <!--/* 컨텐츠 영역에 추가될 제목 */-->
            <h1>판매 내역</h1>
        </div>
        <!-- <div id="content"> -->
            <!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
            <form action="/sell/modify" method="post">
            <table style="width: 100%; text-align:center; "id="sell-table" >
				    	<tr>
					        <th>판매 번호</th>
					        <td><input type="text" name="sellNumber" readonly th:value="${ sell.sellNumber }"></td>
					        
					        <th>판매 일자</th>
					        <td> <input type="date" name="sellDate" th:value="${#dates.format(sell.sellDate, 'yyyy-MM-dd')}"></td> <!-- 달력으  -->
				        </tr>
				    	<tr>
					        <th>판매 수량</th>
					        <td> <input type="number" name="sellAmount" th:value="${ sell.sellAmount }"></td>
					         <th>판매금액</th>
					       <td><input type="text" name="sellPrice" th:value="${ sell.sellPrice }"></td>
				        </tr>
						<tr>
					        <th>창고 번호</th>
					        <td th:text="${ sell.storage.storageNo }"></td>
						<th>창고명</th>
						<td><select name="storageNo" class="search-select" onchange="showProduct(this)">
								<option th:each="storage : ${ storageList }"
									th:text="${ storage.storageName }"
									th:value="${ storage.storageNo }">
								</option>
						</select>
						</td>
						</tr>
				    	<tr>
					        <th>상품번호</th>
					       <td><input type="text" readonly th:value="${ sell.product.productCode}"></td>
					        <th>상품명</th>
					<td>
						<span id="productName-wrap">
			            	<select class="search-select text" name="productCode" id="productName" onchange="showProductInfo(this)" required>
									  <option th:text="${sell.product.productName}" selected/>
									  <option id="test" th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
							</select>
						</span>
					</td>
				        </tr>
				        <tr>
					        <th>거래처 번호</th>
					        <td th:text="${ sell.client.no }"></td>
						<th>거래처명</th>
						<td>
						<select name="clientNumber" class="search-select" required>
	 						<option value="" disabled selected  th:each="cli : ${ sell }" th:text="${ cli.client.name }"></option>
	 						<option th:each="client : ${ clientList }" th:text="${ client.name }" th:value="${ client.no }"></option>
						</select>
						</td>
						</tr>
				    	<tr>
					         <th>합계금액</th>
					        <td colspan="3"><input type="number" name="sellTotalPrice" th:value="${ sell.sellTotalPrice }"></td>
				        </tr>
				</table>
           <!--  <table class="table-list" id="sell-table" >
            	<thead style="background-color: #DEEEF8">
					<tr>
	                   	<th>판매내역 번호</th>
	            		<th>판매일자</th>
	            		<th>판매수량</th>
			            <th>금액합계</th>
			            <th>상품코드</th>
			            <th>상품명</th>
			            <th>거래처코드</th>
			            <th>거래처명</th>
			            <th>판매가</th>
               		</tr>
				</thead>
				<tbody>	
				 <tr>
			            <td th:text="${ sell.sellNumber }"></td>
			            <td th:text="${#dates.format(sell.sellDate, 'yyyy-MM-dd')}"></td>
			            <td th:text="${ sell.sellAmount }"></td>
			            <td th:text="${ sell.sellTotalPrice }"></td>
			            <td th:text="${ sell.product.productCode}"></td>
			            <td>
							<select name="productCode" class="search-select" required>
	 						<option value="" disabled selected  th:each="pro : ${ sell }" th:text="${ pro.product.productName }"></option>
	 						<option th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
							</select>
						</td>
						<td><input type="text" readonly th:value="${ sell.client.no }"></td>
						<td>
						<select name="clientNumber" class="search-select" required>
	 						<option value="" disabled selected  th:each="cli : ${ sell }" th:text="${ cli.client.name }"></option>
	 						<option th:each="client : ${ clientList }" th:text="${ client.name }" th:value="${ client.no }"></option>
						</select>
						</td>
						<td><input type="text" name="sellPrice " th:value="${ sell.sellPrice }"></td>
			        </tr>
			        	처음에 했던 코드
						<td><input type="text" name="sellNumber" readonly th:value="${ sell.sellNumber }"></td>
						<td><input type="text" name="sellDate" th:value="${#dates.format(sell.sellDate, 'yyyy-MM-dd')}"></td>
						<td><input type="text" name="sellAmount" th:value="${ sell.sellAmount }"></td>
						<td><input type="text" name="sellTotalPrice" th:value="${ sell.sellTotalPrice }"></td>
						<td><input type="text" readonly th:value="${ sell.product.productCode}"></td>
						<td>
							<select name="productCode" class="search-select" required>
	 						<option value="" disabled selected  th:each="pro : ${ sell }" th:text="${ pro.product.productName }"></option>
	 						<option th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
							</select>
						</td>
						<td><input type="text" readonly th:value="${ sell.client.no }"></td>
						<td>
						<select name="clientNumber" class="search-select" required>
	 						<option value="" disabled selected  th:each="cli : ${ sell }" th:text="${ cli.client.name }"></option>
	 						<option th:each="client : ${ clientList }" th:text="${ client.name }" th:value="${ client.no }"></option>
						</select>
						</td>
						<td><input type="text" name="sellPrice " th:value="${ sell.sellPrice }"></td>
			</tbody>
			</table> -->
			<br>
			<div id="content" align="left">
            	<button type="submit" class="btn-square submit">수정하기</button>
				<button type="button" class="btn-square submit" onclick="printDiv();">인쇄</button>
            </div>
			</form>
        <!-- </div> -->
    </article>
</section>
<script>
		let element;
		/* 창고에 따라서 보여지는 품목이 다르게 되는 함수 */
		function showProduct(drop){
			
			var productName = document.querySelectorAll('#productName')
			
			var tr = document.querySelectorAll('#sell-table tbody tr')
			
			var tbody = document.querySelector('#sell-table tbody tr')
			/* element = drop */
			var storage = drop.value;
			
			$.ajax({
				url : "/sell/showRegistProductText",
				data : {
					storage : storage
				},
				type :	"post",
				success : function(data){
					console.log(data.productNameDrop)
					console.log(data.productNameDrop.length)

					var tbody = document.querySelector("#productName").parentElement.parentElement
					var selector = document.querySelector('#productName');
					selector.innerHTML = '<option value="" selected>----</option>';
					
					for(var count = 0; count <data.productNameDrop.length; count++){
						
						var option = document.createElement('option');
						option.value = data.productNameDrop[count].productCode;
						option.text = data.productNameDrop[count].productName;
						selector.appendChild(option);
					}
				},
				error : function(){
					alert("상품의 조회가 불가능 합니다.")
				}
			});
		}
		/* 내용 채워넣기 */
		function showProductInfo(productName){
			element = productName;
			/* 기준점이 되는 해당 tr */
			var tr = productName.parentElement.parentElement.parentElement;
			/* 변화될 productCode 앨리먼트 */
			
			$.ajax({
				url : "/sell/showRegistProductInfoText",
				data : {
					productCode: element.value
				},
				type :	"post",
				success : function(data){
					if(data.errorMessage){
						productCode.value = ""
						alert(data.errorMessage)				
					}
					productList = data.productList[0]
					productCode.value = productList.productCode
				},
				error : function(){
					alert("정확한 품목명을 입력하세요.")
				}
			});
		}
	</script> 
<script>
	//공통
	function s2ab(s) { 
	    var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
	    var view = new Uint8Array(buf);  //create uint8array as viewer
	    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
	    return buf;    
	}
	function exportExcel(){ 
	    // step 1. workbook 생성
	    var wb = XLSX.utils.book_new();
	
	    // step 2. 시트 만들기 
	    var newWorksheet = excelHandler.getWorksheet();
	    
	    // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
	    XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());
	
	    // step 4. 엑셀 파일 만들기 
	    var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
	
	    // step 5. 엑셀 파일 내보내기 
	    saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
	}
	$(document).ready(function() { 
	    $("#excelFileExport").click(function(){
	        exportExcel();
	    });
	});
</script>
<script>
	var excelHandler = {
		getExcelFileName : function(){
			let today = new Date();
			let year = today.getFullYear();
			let month = today.getMonth()+1;
			let date = today.getDate();
			
			return '' + year + month + date + '_주문서.xlsx';
		},
        getSheetName : function(){
            return '주문서';
        },
        getExcelData : function(){
            return document.getElementById('sell-table'); 
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
	}
</script>
<script>
    function printDiv() {
    	var style = "<head><link rel='stylesheet' href='/css/common/component.css'></head>";
        var divToPrint = document.getElementById('sell-table');
        newWin = window.open("");
        newWin.document.write(style);
        newWin.document.write(divToPrint.outerHTML);
        setTimeout(function() {
	        newWin.print();
	        newWin.close();
        }, 100);
   }
</script>
</body>
</html>