<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
<th:block th:include="/common/dependencies" />
<title>판매 관리</title>
</head>
<body>

	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
		<!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
		<aside th:include="/logistic/aside"></aside>
		<article>
			<div id="title">
				<!--/* 컨텐츠 영역에 추가될 제목 */-->
				<h1>판매 관리</h1>
			</div>
			<!-- 검색폼 -->
			<div align="center" style="background-color: #DEEEF8">
				<form action="/sell/list" method="get">
				<br>
					<span> <b>작성일자:</b> 
					<label for="startDate"style="display: none">시작 날짜</label> 
						 <th:block th:if="${ #maps.size(parameterMap) != 0}">
						 <input type="date"id="startDate" class="input-date" name="startDate" th:value="${parameterMap.startDate}">
						 </th:block>
						 <th:block th:if="${ #maps.size(parameterMap) == 0}">
						 <input type="date"id="startDate" class="input-date" name="startDate">
						 </th:block>
				    <label for="endDate" style="display: none">종료 날짜</label> 
				    	 <th:block th:if="${ #maps.size(parameterMap) != 0}">
						 <input type="date" id="endDate" class="input-date" name="endDate" th:value="${parameterMap.endDate}">
						 </th:block>
						  <th:block th:if="${ #maps.size(parameterMap) == 0}">
						 <input type="date" id="endDate" class="input-date" name="endDate">
						 </th:block>
					</span> 
					<br> 
					<br>
					<span> 
					<b>상품명:</b> <label for="searchProduct"style="display: none">상품명</label> 
					     <th:block th:if="${ #maps.size(parameterMap) != 0}">
					   	 <input type="text"id="searchProduct" name="searchProduct" class="input-text" th:value="${parameterMap.searchProduct}">
					   	 </th:block>
					   	 <th:block th:if="${ #maps.size(parameterMap) == 0}">
					   	 <input type="text"id="searchProduct" name="searchProduct" class="input-text">
					   	 </th:block>
					</span>
					<br>
					<br>
					<span style="margin: 5px"> 
					<b>거래처:</b> <!-- 값 남아있게하는거 -->
					<label for="searchClient" style="display: none">거래처</label> 
						
						<th:block th:if="${ #maps.size(parameterMap) != 0}">
						 	<input type="text" id="searchClient" name="searchClient" class="input-text" th:value="${parameterMap.searchClient}" />
						</th:block>
						<th:block th:if="${ #maps.size(parameterMap) == 0}">
						 	<input type="text" id="searchClient" name="searchClient" class="input-text"  />
						</th:block>	
						
					</span>
					<br>
					 <br> 
					    <input type="hidden" name="currentPage" value="1" />
					<button type="submit" class="btn-square submit">검색하기</button>
					<br>
					<br>
				</form>
			</div>
			<div>
			</div>
				
			<div id="content" align="right">
				<button type="button" class="btn-circle submit" onclick="popup()">판매
					등록</button>
				<br>
				<!-- <button type="submit" class="btn-circle submit">선택 삭제</button><br><br> -->
			</div>
			<!--/* 페이지 컨텐츠 부분을 여기서부터 작성하면 됨 */-->
			<table class="table-list" id="sell-table">
				<thead>
					<tr>
						<th>판매내역 번호</th>
						<th>일자</th>
						<th>합계금액</th>
						<th>상품명</th>
						<th>거래처</th>
						<th>창고명</th>
						<!-- <th>판매가</th> -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="sell : ${ sellList }">
						<td th:text="${ sell.sellNumber }"></td>
						<!-- <td th:text="${ sell.sellDate }"></td> -->
						<td><span
							th:text="${#dates.format(sell.sellDate, 'yyyy/MM/dd')}"></span></td>
						<td th:text="${ #numbers.formatInteger(sell.sellTotalPrice, 0, 'COMMA') }"></td>
						<td th:text="${ sell.product.productName }"></td>
						<td th:text="${ sell.client.name }"></td>
						<td th:text="${ sell.storage.storageName }"></td>
					</tr>
				</tbody>
			</table>
			<div th:include="/common/paging"></div>
		</article>
	</section>
	<script>
		function popup() {
			window.open("regist", "_blank",
					'width=800, height=440, top=220, left=650');
		}
	</script>
	<script>
		if (document.querySelectorAll("#sell-table td")) {
			const $tds = document.querySelectorAll("#sell-table td");
			for (let i = 0; i < $tds.length; i++) {

				$tds[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#DEEEF8";
					this.parentNode.style.cursor = "pointer";
				}

				$tds[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "#FFFFFF";
				}

				$tds[i].onclick = function() {
					const no = this.parentNode.children[0].innerText;
					var url = no;
					window.open(no, 'detail' , 'width=1000, height=560, top=220, left=650');
				}
			}
		}
	</script>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		const modifyMessage = "[[${modifySuccessMessage}]]";
		successMessage && alert(successMessage);
		modifyMessage && alert(modifyMessage);
		opener.parent.location.reload();
		opener.parent.location.reload();
		window.close();
	</script>
</body>
</html>