<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--/* 이 페이지를 구성하는데 필요한 의존성들 */-->
<th:block th:include="/common/dependencies" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>판매 상세 내역</title>
	<style>
	table tr th, table tr td {
		border: 1px solid black;
		height: 50px;
		align-content: center;
		text-align: center;
	}
	</style>
</head>
<body>
	<!--/* 헤더 */-->
	<header th:include="/common/header"></header>
	<section>
		<!--/* 사이드바 - 이부분을 각자 기능에 맞게 새로 만든 aside 파일로 교체하면 됨 */-->
		<aside th:include="/logistic/aside"></aside>
		<article>
			<div id="title">
				<h1>
					<span class="material-symbols-outlined">storefront</span> 판매내역 등록
				</h1>
			</div>
			<form action="/sell/registNopop" method="post" align="center">
			
				<table style="width: 100%; text-align: center;" id="sell-table"> 
				<tbody>
				<tr>
					<th>판매 일자</th>
					<td><input type="date" name="sellDate" required></td>
					<th>판매수량</th>
					<td><input type="number" name="sellAmount" required></td>
				</tr>
				<tr>
					<th>금액합계</th>
					<td><input type="number" name="sellTotalPrice" required></td>
					<th>거래처명</th>
					<td><select name="clientNumber" class="search-select" required>
								<option th:each="client : ${ clientList }"
									th:text="${ client.name }"
									th:value="${ client.no }">
								</option>
						    </select>
						</td>
				</tr>
				<tr>
					<th>창고명</th>
					<td><select name="storageNo" class="search-select" onchange="showProduct(this)" required>
								<option th:each="storage : ${ storageList }"
									th:text="${ storage.storageName }"
									th:value="${ storage.storageNo }">
								</option>
						</select>
					</td>
					<th>상품명</th>
					<td>
						<span id="productName-wrap">
			            	<select class="search-select text" name="productCode" id="productName" onchange="showProductInfo(this)" required>
									  <option value="" selected>----</option>
									  <option id="test" th:each="product : ${ productList }" th:text="${ product.productName }" th:value="${ product.productCode }"></option>
							</select>
						</span>
					</td>
				</tr>
				<tr>
					<th>판매가</th>
					<td colspan="3"><input type="number" name="sellPrice" required></td>
					</tr>
				</tbody>
				</table>
				<br>
				<div align="center">
					<button type="submit" class="btn-circle submit">등록</button>
					<br>
				</div>
			</form>
		</article>
	</section>
	<script>
		let element;
		/* 창고에 따라서 보여지는 품목이 다르게 되는 함수 */
		function showProduct(drop){
			
			var productName = document.querySelectorAll('#productName')
			
			var tr = document.querySelectorAll('#sell-table tbody tr')
			
			var tbody = document.querySelector('#sell-table tbody tr')
			/* element = drop */
			var storage = drop.value;
			
			$.ajax({
				url : "/sell/showRegistProductText",
				data : {
					storage : storage
				},
				type :	"post",
				success : function(data){
					console.log(data.productNameDrop)
					console.log(data.productNameDrop.length)

					var tbody = document.querySelector("#productName").parentElement.parentElement
					var selector = document.querySelector('#productName');
					selector.innerHTML = '<option value="" selected>----</option>';
					
					for(var count = 0; count <data.productNameDrop.length; count++){
						
						var option = document.createElement('option');
						option.value = data.productNameDrop[count].productCode;
						option.text = data.productNameDrop[count].productName;
						selector.appendChild(option);
					}
				},
				error : function(){
					alert("상품의 조회가 불가능 합니다.")
				}
			});
		}
		/* 내용 채워넣기 */
		function showProductInfo(productName){
			element = productName;
			/* 기준점이 되는 해당 tr */
			var tr = productName.parentElement.parentElement.parentElement;
			/* 변화될 productCode 앨리먼트 */
			
			$.ajax({
				url : "/sell/showRegistProductInfoText",
				data : {
					productCode: element.value
				},
				type :	"post",
				success : function(data){
					if(data.errorMessage){
						productCode.value = ""
						alert(data.errorMessage)				
					}
					productList = data.productList[0]
					productCode.value = productList.productCode
				},
				error : function(){
					alert("정확한 품목명을 입력하세요.")
				}
			});
		}
	</script> 
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
		window.opener.location.reload();
	</script>
</body>
</html>