article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-selector {
}

.content-selector .selector-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content-selector .selector-list a {
    font-size: 16px;
    padding: 6px 20px;
    color: var(--color-secondary-hovered);
}

.content-selector .selector-list .selected {
    font-weight: bold;
    color: var(--color-primary-accent);
    border-bottom: 1px solid var(--color-primary-accent);
}

.content-selector .selector-list a:hover {
    font-weight: bold;
    color: var(--color-primary-accent);
    border-bottom: 1px solid var(--color-primary-accent);
}

.content-selector hr {
    background-color: var(--color-secondary-hovered);
    height: 1px;
    border: 0;
    margin: 0;
}

.search-option {
    background-color: var(--color-primary);
}

.search-option > form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;

    padding: 10px;
}

.search-option > form > * {
    flex: 1 1 100px;
}

.search-option > form > button, .search-option > form > a {
    flex: 0 0 auto;
}

.result .table-list {
    width: 100%;
    table-layout: fixed;
}

.result .table-list th, .result .table-list td {
    padding: 5px 10px;
}

.result .table-list td {
    font-size: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result table .no {
    width: 30px;
    display: none;
}

.result table .title {
    width: 30%;
}

.result table td.title {
    text-align: left;
}

.result table .date {
    width: 120px;
}

.result table .location {
    width: 100px;
}

.result .table-list tbody tr:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}