article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content hr {
    border: 0;
    border-bottom: 2px dashed var(--color-secondary-hovered);
    width: 100%;
}

#content .schedule-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .schedule-info .schedule-title {

}

#content .schedule-info .schedule-title span {
    font-size: 20px;
    font-weight: bold;
}

#content .schedule-info .schedule-author-and-date {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 18px;
}

#content .schedule-info .schedule-author {
    font-weight: bold;
}

#content .schedule-info .schedule-author-and-date .divider {
    height: 100%;
    width: 1px;
    background-color: var(--color-secondary);
}

#content .schedule-info .schedule-date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#content .schedule-info .schedule-attendee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#content .schedule-info .schedule-attendee span {
    background-color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

#content .schedule-content {
    min-height: 400px;
}

#content iframe#schedule-ifr {
    background-color: #fff;
    border: 0;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    width: 100%;
}

#content .schedule-attached-file {

}

#content .schedule-attached-file .table-list {
    width: 100%;
    font-size: 13px;
}

#content .schedule-attached-file .table-list {
    text-align: left;
}

#content .schedule-attached-file .table-list tbody tr:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

#content .schedule-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
