article > #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .schedule-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .schedule-info > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#content .schedule-info .schedule-title .input-wrapper {
    width: 100%;
}

#content .schedule-info .schedule-attendee button {
    margin-top: 16px;
}

#content .schedule-info > .schedule-date-and-attendee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#content .schedule-info > .schedule-date-and-attendee > * {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#content .schedule-info .schedule-date-and-attendee span {
    margin-top: 12px;
}

#content .schedule-info #attendeeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#content .schedule-info #attendeeList span {
    background-color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

#content .schedule-info #attendeeList span:after {
    font-family: 'Material Symbols Outlined';
    content: '\e5cd';
    vertical-align: middle;
}

#content .schedule-attached-file {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .schedule-attached-file table {
    font-size: 13px;
    text-align: left;
    width: 100%;
}

#content .schedule-attached-file table .check {
    width: 50px;
    text-align: center;
}

#content .schedule-attached-file table tbody .check {
    font-family: 'Material Symbols Outlined';
}

#content .schedule-attached-file .table-list tbody tr:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

#content .schedule-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}