<link href="/fullcalendar/main.css" rel="stylesheet">
<script src="/fullcalendar/main.js"></script>
<div id="calendar">
    <div id="fullCalendar"></div>
</div>
<script src="/js/dashboard/calendar-tile.js"></script>
